Repository pokt-network/pocket, pull requests merged in 2022-08, with the labels that each got.

#138 Fix typos
  shared/README.md
Labels: documentation

#121 Block Store Addition
  app/client/main.go
  build/Dockerfile
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/config/genesis.json
  build/deployments/docker-compose.yaml
  consensus/block.go
  consensus/consensus_tests/pacemaker_test.go
  consensus/consensus_tests/utils_test.go
  consensus/debugging.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/module.go
  go.mod
  go.sum
  persistence/README.md
  persistence/account.go
  persistence/block.go
  persistence/context.go
  persistence/db.go
  persistence/debugging.go
  persistence/gov.go
  persistence/kvstore/kvstore.go
  persistence/module.go
  persistence/pre_persistence/fisherman.go
  persistence/pre_persistence/persistence.go
  persistence/schema/block.go
  persistence/schema/gov.go
  persistence/shared_sql.go
  persistence/test/account_test.go
  persistence/test/application_test.go
  persistence/test/fisherman_test.go
  persistence/test/gov_test.go
  persistence/test/service_node_test.go
  persistence/test/setup_test.go
  persistence/test/validator_test.go
  shared/bus.go
  shared/config/config.go
  shared/config/config_test.go
  shared/modules/bus_module.go
  shared/modules/consensus_module.go
  shared/modules/persistence_module.go
  shared/modules/utility_module.go
  shared/node.go
  shared/tests/utility_module/block_test.go
  shared/tests/utility_module/transaction_test.go
  shared/types/genesis/genesis_test.go
  shared/types/genesis/test_artifacts/test_genesis.json
  shared/types/proto/debug_message.proto
  utility/block.go
  utility/context.go
  utility/doc/README.md
  utility/module.go
  utility/transaction.go
Labels: core, persistence

#97 [Telemetry] Add event metrics for HotPOKT
  build/deployments/telemetry/dashboards/raintree_telemetry_graphs.json
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/module.go
  consensus/pacemaker.go
  consensus/telemetry/metrics.go
Labels: telemetry

#142 [Utility] error propagation bugfix
  utility/actor.go
Labels: bug, core, utility

#135 [Main][Telemetry]: Merge the first part of the telemetry (metrics) milestone into main
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  app/client/main.go
  build/Dockerfile
  build/Dockerfile.client
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/deployments/docker-compose.yaml
  build/deployments/telemetry/dashboards/raintree_telemetry_graphs.json
  build/deployments/telemetry/dashboards/victoriametrics.json
  build/deployments/telemetry/grafana/provisioning/dashboards/dashboard.yml
  build/deployments/telemetry/grafana/provisioning/datasources/datasource.yml
  build/deployments/telemetry/loki/config.yaml
  build/deployments/telemetry/victoria-metrics/scrape.yml
  consensus/consensus_tests/utils_test.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/module.go
  consensus/pacemaker.go
  consensus/telemetry/metrics.go
  go.mod
  go.sum
  p2p/module.go
  p2p/module_raintree_test.go
  p2p/raintree/network.go
  p2p/raintree/utils.go
  p2p/stdnetwork/network.go
  p2p/telemetry/metrics.go
  p2p/types/network.go
  shared/README.md
  shared/bus.go
  shared/config/config.go
  shared/modules/bus_module.go
  shared/modules/module.go
  shared/modules/telemetry_module.go
  shared/node.go
  shared/telemetry/README.md
  shared/telemetry/docs/browsing-existing-dashboards.gif
  shared/telemetry/docs/explore-loki-on-grafana-pt-1.gif
  shared/telemetry/docs/explore-loki-on-grafana-pt-2.gif
  shared/telemetry/errors.go
  shared/telemetry/module.go
  shared/telemetry/noop_module.go
  shared/telemetry/prometheus_module.go
Labels: infra, telemetry, tooling

#157 fix make protogen_docker old command to help resolve protogen issues on Linux
  Makefile
  build/Dockerfile.proto
Labels: bug, tooling

#159 [Telemetry] 1st Major Telemetry Milestone (#135) followsup - Attempt #2
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/telemetry/metrics.go
  p2p/module.go
  p2p/raintree/network.go
  p2p/raintree/utils.go
  p2p/telemetry/metrics.go
  p2p/types/network.go
  shared/modules/telemetry_module.go
  shared/node.go
  shared/telemetry/README.md
Labels: code health, telemetry

#161 [Automation] prevent PR merging depending on label/PR title (Issue #160)
  .github/workflows/do-not-merge.yml
Labels: code health, tooling

#139 [Persistence] Optimize gov params schema (Issue #76)
  Makefile
  docs/development/README.md
  go.mod
  persistence/README.md
  persistence/db.go
  persistence/genesis.go
  persistence/gov.go
  persistence/schema/gov.go
  persistence/schema/test/gov_test.go
  persistence/test/gov_test.go
  shared/modules/persistence_module.go
  shared/tests/utility_module/actor_test.go
  shared/tests/utility_module/block_test.go
  shared/types/genesis/proto/gov.proto
  utility/actor.go
  utility/gov.go
Labels: core, persistence, code health, priority:high

#165 [Persistence] Followup on PrePersistence deprecation & Block lifecycle
  .gitignore
  Makefile
  consensus/block.go
  consensus/consensus_tests/utils_test.go
  consensus/hotstuff_replica.go
  consensus/leader_election/vrf/vrf_test.go
  consensus/module.go
  p2p/module.go
  p2p/raintree/network.go
  persistence/CHANGELOG.md
  persistence/account.go
  persistence/block.go
  persistence/context.go
  persistence/db.go
  persistence/debugging.go
  persistence/genesis.go
  persistence/gov.go
  persistence/module.go
  persistence/schema/account.go
  persistence/schema/base_actor.go
  persistence/schema/gov.go
  persistence/schema/shared_sql.go
  persistence/shared_sql.go
  persistence/test/account_test.go
  persistence/test/application_test.go
  persistence/test/fisherman_test.go
  persistence/test/generic_test.go
  persistence/test/gov_test.go
  persistence/test/module_test.go
  persistence/test/service_node_test.go
  persistence/test/setup_test.go
  persistence/test/validator_test.go
  shared/modules/persistence_module.go
  shared/node.go
  shared/tests/util.go
  shared/tests/utility_module/account_test.go
  shared/tests/utility_module/actor_test.go
  shared/tests/utility_module/block_test.go
  shared/tests/utility_module/gov_test.go
  shared/tests/utility_module/module_test.go
  shared/tests/utility_module/transaction_test.go
  shared/types/genesis/genesis_config.go
  utility/actor.go
  utility/block.go
  utility/types/actor.go
  utility/types/message.go
Labels: core, persistence, priority:high

#171 [Configuration] PR166 Code Review (Issue#154 Follow ups)
  app/client/main.go
  app/pocket/main.go
  build/config/main.go
  build/deployments/docker-compose.yaml
  build/scripts/watch.sh
  consensus/consensus_tests/utils_test.go
  consensus/helpers.go
  consensus/leader_election/module.go
  consensus/module.go
  consensus/pacemaker.go
  p2p/module.go
  p2p/transport.go
  p2p/utils.go
  persistence/account.go
  persistence/debugging.go
  persistence/genesis.go
  persistence/module.go
  persistence/schema/shared_sql.go
  persistence/test/account_test.go
  persistence/test/application_test.go
  persistence/test/fisherman_test.go
  persistence/test/generic_test.go
  persistence/test/service_node_test.go
  persistence/test/setup_test.go
  persistence/test/validator_test.go
  shared/bus.go
  shared/modules/module.go
  shared/modules/persistence_module.go
  shared/node.go
  shared/telemetry/prometheus_module.go
  shared/tests/util.go
  shared/tests/utility_module/account_test.go
  shared/tests/utility_module/block_test.go
  shared/tests/utility_module/gov_test.go
  shared/tests/utility_module/module_test.go
  shared/tests/utility_module/transaction_test.go
  shared/types/block.go
  shared/types/error.go
  shared/types/genesis/doc/CHANGELOG.md
  shared/types/genesis/doc/README.md
  shared/types/genesis/proto/account.proto
  shared/types/genesis/proto/actor.proto
  shared/types/genesis/proto/config.proto
  shared/types/genesis/test_artifacts/generator.go
  shared/types/gov.go
  shared/types/mempool.go
  utility/actor.go
  utility/block.go
  utility/module.go
  utility/transaction.go
  utility/types/actor.go
Labels: code health, priority:high

#170 [Documentation] Remove text-heavy contribution guide
  .github/ISSUE_TEMPLATE/integration-issue.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/contributing/README.md
  docs/contributing/TASTE.md
  docs/contributing/contribution/development.md
  docs/contributing/contribution/issue.md
  docs/contributing/contribution/merge.md
  docs/contributing/contribution/milestone.md
  docs/development/README.md
Labels: documentation
