Repository pokt-network/pocket, pull requests merged in 2022-06, with the labels that each got.

#89 Remove magefile related code
  Makefile
  README.md
  app/pocket/main.go
  docs/build/README.md
  docs/deps/README.md
  docs/development/README.md
  docs/testing/README.md
  go.mod
  go.sum
  mage.go
Labels: documentation, code health

#91 Build & Release versioning documentation update
  docs/build/README.md
Labels: documentation

#80 Pre2P - RainTree
  .gitignore
  Makefile
  app/client/main.go
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/config/genesis.json
  build/deployments/docker-compose.yaml
  consensus/block.go
  consensus/helpers.go
  consensus/types/errors.go
  go.mod
  go.sum
  p2p/pre2p/README.md
  p2p/pre2p/handlers.go
  p2p/pre2p/module.go
  p2p/pre2p/module_raintree_test.go
  p2p/pre2p/network.go
  p2p/pre2p/raintree/addrbook_utils.go
  p2p/pre2p/raintree/addrbook_utils_test.go
  p2p/pre2p/raintree/network.go
  p2p/pre2p/raintree/types/proto/raintree.proto
  p2p/pre2p/stdnetwork/network.go
  p2p/pre2p/transport.go
  p2p/pre2p/types/network.go
  p2p/pre2p/utils.go
  persistence/pre_persistence/validator.go
  shared/config/config.go
  shared/crypto/keys.go
  shared/node.go
  shared/types/genesis/genesis.go
  shared/types/genesis/genesis_config.go
  shared/types/genesis/node_state.go
  shared/types/genesis/node_state_test.go
  shared/types/genesis/validator.go
  shared/types/validator.go
Labels: p2p

#95 [Telemetry]: Add Telemetry Infrastructure + Module Interface + Prometheus Implementation
  Makefile
  README.md
  app/client/main.go
  build/Dockerfile
  build/Dockerfile.client
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/deployments/docker-compose.yaml
  build/deployments/telemetry/dashboards/victoriametrics.json
  build/deployments/telemetry/grafana/provisioning/dashboards/dashboard.yml
  build/deployments/telemetry/grafana/provisioning/datasources/datasource.yml
  build/deployments/telemetry/loki/config.yaml
  build/deployments/telemetry/victoria-metrics/scrape.yml
  consensus/consensus_tests/utils_test.go
  consensus/module.go
  docs/development/README.md
  go.mod
  go.sum
  p2p/pre2p/module.go
  p2p/pre2p/raintree/network.go
  p2p/pre2p/raintree/types/proto/raintree.proto
  p2p/pre2p/types/mocks/network_mock.go
  shared/bus.go
  shared/config/config.go
  shared/modules/bus_module.go
  shared/modules/telemetry_module.go
  shared/node.go
  shared/telemetry/README.md
  shared/telemetry/docs/browsing-existing-dashboards.gif
  shared/telemetry/docs/explore-loki-on-grafana-pt-1.gif
  shared/telemetry/docs/explore-loki-on-grafana-pt-2.gif
  shared/telemetry/errors.go
  shared/telemetry/module.go
  shared/telemetry/noop_module.go
  shared/telemetry/prometheus_module.go
Labels: infra, telemetry
