Repository pokt-network/pocket, pull requests merged in 2022-03, with the labels that each got.

#29 Pocket node entrypoint, module interface and application specific bus
  .gitignore
  Makefile
  build/Dockerfile
  build/Dockerfile.client
  build/Dockerfile.m1.proto
  build/Dockerfile.proto
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/config/genesis.json
  build/deployments/docker-compose.yaml
  cmd/client/main.go
  cmd/pocket/main.go
  consensus/module.go
  docs/deps/README.md
  go.mod
  go.sum
  p2p/module.go
  p2p/pre2p/module.go
  persistence/module.go
  scripts/watch.sh
  scripts/watch_build.sh
  shared/config/config.go
  shared/config/config_test.go
  shared/crypto/ed25519.go
  shared/crypto/error.go
  shared/crypto/keys.go
  shared/crypto/sha3.go
  shared/handler.go
  shared/modules/consensus_module.go
  shared/modules/module.go
  shared/modules/p2p_module.go
  shared/modules/persistence_module.go
  shared/modules/pocket_bus_module.go
  shared/modules/utility_module.go
  shared/node.go
  shared/pocket_bus.go
  shared/types/events.go
  utility/module.go
Labels: core

#33 V1 PreP2P Module Prototype
  .gitignore
  Makefile
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/config/genesis.json
  cmd/client/main.go
  cmd/pocket/main.go
  mage.go
  p2p/module.go
  p2p/pre2p/handlers.go
  p2p/pre2p/module.go
  p2p/pre2p/network.go
  p2p/pre2p/types/network.go
  scripts/watch_build.sh
  shared/config/config.go
  shared/config/config_test.go
  shared/crypto/ed25519.go
  shared/crypto/keys.go
  shared/handler.go
  shared/modules/p2p_module.go
  shared/modules/persistence_module.go
  shared/modules/pocket_bus_module.go
  shared/node.go
  shared/pocket_bus.go
  shared/types/events.go
  shared/types/genesis.go
  shared/types/genesis_test.go
  shared/types/proto/events.proto
  shared/types/test_state.go
  shared/types/validator.go
Labels: core, p2p

#36 Add Contribution Guide to the project
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/integration-issue.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/contributing/CONTRIBUTING.md
  docs/contributing/contribution/development.md
  docs/contributing/contribution/issue.md
  docs/contributing/contribution/merge.md
  docs/contributing/contribution/milestone.md
Labels: documentation

#49 Add Contribution Guide to the project
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/integration-issue.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/contributing/CONTRIBUTING.md
  docs/contributing/contribution/development.md
  docs/contributing/contribution/issue.md
  docs/contributing/contribution/merge.md
  docs/contributing/contribution/milestone.md
Labels: documentation, integration

#42 Pre-Persistence Prototype Module First Iteration
  .gitignore
  Makefile
  go.mod
  go.sum
  p2p/module.go
  persistence/pre_persistence/README.md
  persistence/pre_persistence/account.go
  persistence/pre_persistence/account_test.go
  persistence/pre_persistence/app.go
  persistence/pre_persistence/app_test.go
  persistence/pre_persistence/block.go
  persistence/pre_persistence/codec.go
  persistence/pre_persistence/fisherman.go
  persistence/pre_persistence/fisherman_test.go
  persistence/pre_persistence/genesis.go
  persistence/pre_persistence/gov.go
  persistence/pre_persistence/gov_test.go
  persistence/pre_persistence/module.go
  persistence/pre_persistence/persistence.go
  persistence/pre_persistence/persistence_test.go
  persistence/pre_persistence/proto/account.proto
  persistence/pre_persistence/proto/app.proto
  persistence/pre_persistence/proto/block.proto
  persistence/pre_persistence/proto/fisherman.proto
  persistence/pre_persistence/proto/genesis.proto
  persistence/pre_persistence/proto/gov.proto
  persistence/pre_persistence/proto/service_node.proto
  persistence/pre_persistence/proto/validator.proto
  persistence/pre_persistence/service_node.go
  persistence/pre_persistence/service_node_test.go
  persistence/pre_persistence/test_state.go
  persistence/pre_persistence/util.go
  persistence/pre_persistence/validator.go
  persistence/pre_persistence/validator_test.go
  prototype/persistence/pre_persistence/mock.go
  shared/config/config.go
  shared/config/config_test.go
  shared/crypto/ed25519.go
  shared/crypto/error.go
  shared/crypto/keys.go
  shared/crypto/sha3.go
  shared/modules/persistence_module.go
  shared/types/error.go
  shared/types/mempool.go
  shared/types/proto/events.proto
  shared/types/proto/unstaking.proto
Labels: enhancement, integration, persistence

#37 Libraries for Cryptographic Sortition and VRF
  Makefile
  consensus/leader_election/sortition/sortition.go
  consensus/leader_election/sortition/sortition_test.go
  consensus/leader_election/vrf/errors.go
  consensus/leader_election/vrf/vrf.go
  consensus/leader_election/vrf/vrf_test.go
  docs/deps/README.md
  go.mod
  go.sum
  persistence/pre_persistence/README.md
  prototype/consensus/consensus_tests/utility_test.go
  shared/crypto/ed25519.go
  shared/crypto/error.go
  shared/crypto/keys.go
Labels: consensus
