Repository pokt-network/pocket, pull requests merged in 2022-10, with the labels that each got.

#253 [TECHDEBT] [P2P] Moved p2p telemetry metrics into telemetry module
  p2p/module.go
  p2p/raintree/network.go
  p2p/telemetry/metrics.go
  telemetry/metrics_p2p.go
Labels: p2p, telemetry

#244 [TECHDEBT] Create Utility Configuration File (issue-#228)
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/config/genesis.json
  shared/test_artifacts/generator.go
  shared/test_artifacts/mock.go
  utility/doc/CHANGELOG.md
  utility/module.go
  utility/types/mempool.go
  utility/types/proto/util_config.proto
Labels: code health

#259 [Bug] Fix broken consensus tests on main branch - mocking StoreBlock in persistence module
  consensus/block.go
  consensus/consensus_tests/utils_test.go
  shared/modules/utility_module.go
  utility/block.go
  utility/doc/CHANGELOG.md
Labels: bug

#281 [Consensus] LocalNet doesn't work properly: debug messages not processed
  consensus/debugging.go
Labels: consensus

#222 [TECHDEBT] AddrBook management optimization and refactoring - Issue #246
  Makefile
  p2p/CHANGELOG.md
  p2p/README.md
  p2p/raintree/addrbook_utils.go
  p2p/raintree/network.go
  p2p/raintree/network_test.go
  p2p/raintree/peers_manager.go
  p2p/raintree/peers_manager_test.go
  p2p/raintree/target.go
  p2p/stdnetwork/network.go
  p2p/types/addr_book.go
  p2p/types/addr_list.go
  p2p/types/addrbook.go
  p2p/types/addrlist.go
  p2p/types/network.go
  persistence/types/gov.go
Labels: p2p, code health

#250 [TECHDEBT][Consensus] Consensus module techdebt consolidation
  Makefile
  consensus/CHANGELOG.md
  consensus/block.go
  consensus/consensus_tests/pacemaker_test.go
  consensus/consensus_tests/utils_test.go
  consensus/debugging.go
  consensus/helpers.go
  consensus/hotstuff_handler.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/messages.go
  consensus/module.go
  consensus/pacemaker.go
  consensus/types/errors.go
  consensus/types/proto/block.proto
  consensus/types/proto/hotstuff_types.proto
  consensus/types/types.go
  shared/codec/codec.go
  shared/docs/flows/AppHash.md
  shared/docs/flows/README.md
  shared/modules/consensus_module.go
  shared/test_artifacts/generator.go
Labels: consensus, code health

#190 [Automation] Add CI linters/checks
  .github/workflows/ggshield.yml
  .github/workflows/main.yml
  .golangci.yml
  Makefile
  build/Dockerfile.debian.dev
  build/Dockerfile.debian.prod
  build/linters/tests.go
  docs/build/README.md
  docs/build/automatic-builds.md
  docs/development/README.md
  docs/releases/README.md
  go.mod
  go.sum
Labels: priority:medium, tooling

#245 [TECHDEBT] consolidate utilTypes.UtilActorType with utilTypes.ActorType (issue-#227)
  persistence/application.go
  persistence/fisherman.go
  persistence/genesis.go
  persistence/proto/persistence_genesis.proto
  persistence/service_node.go
  persistence/shared_sql.go
  persistence/test/setup_test.go
  persistence/validator.go
  shared/modules/persistence_module.go
  shared/test_artifacts/generator.go
  utility/actor.go
  utility/block.go
  utility/doc/CHANGELOG.md
  utility/gov.go
  utility/test/actor_test.go
  utility/test/block_test.go
  utility/test/module_test.go
  utility/transaction.go
  utility/types/actor.go
  utility/types/error.go
  utility/types/message.go
  utility/types/message_test.go
  utility/types/proto/actor.proto
  utility/types/proto/message.proto
Labels: code health

#282 [TECHDEBT][UTILITY] Fix Unit Tests using `testing.M`
  Makefile
  consensus/CHANGELOG.md
  consensus/consensus_tests/utils_test.go
  p2p/CHANGELOG.md
  p2p/module_raintree_test.go
  persistence/CHANGELOG.md
  persistence/shared_sql.go
  persistence/test/account_test.go
  persistence/test/application_test.go
  persistence/test/service_node_test.go
  persistence/test/setup_test.go
  persistence/test/validator_test.go
  shared/test_artifacts/util.go
  utility/doc/CHANGELOG.md
  utility/test/actor_test.go
  utility/test/block_test.go
  utility/test/module_test.go
Labels: p2p, consensus, utility, persistence, code health

#260 [TECHDEBT] Tackle TODOs in `shared/modules` Issue #232
  Makefile
  consensus/module.go
  persistence/db.go
  persistence/debug.go
  persistence/docs/CHANGELOG.md
  persistence/gov.go
  persistence/module.go
  persistence/test/gov_test.go
  persistence/test/module_test.go
  persistence/test/setup_test.go
  persistence/types/persistence_genesis.go
  shared/CHANGELOG.md
  shared/codec/codec.go
  shared/crypto/keys.go
  shared/modules/bus_module.go
  shared/modules/consensus_module.go
  shared/modules/doc/README.md
  shared/modules/module.go
  shared/modules/persistence_module.go
  shared/modules/types.go
  shared/test_artifacts/generator.go
  utility/actor.go
  utility/gov.go
  utility/indexer/doc/README.md
  utility/indexer/indexer.go
  utility/indexer/indexer_test.go
  utility/indexer/proto/transaction_indexer.proto
  utility/test/actor_test.go
  utility/test/block_test.go
  utility/test/gov_test.go
  utility/test/module_test.go
  utility/types/gov.go
Labels: code health

#312 [TECHDEBT][Persistence] Fix Persistence Module TODOs - Consolidate Actor (issue-#210)
  persistence/application.go
  persistence/docs/CHANGELOG.md
  persistence/fisherman.go
  persistence/genesis.go
  persistence/service_node.go
  persistence/shared_sql.go
  persistence/test/generic_test.go
  persistence/test/setup_test.go
  persistence/types/base_actor.go
  persistence/types/converters.go
  persistence/types/shared_sql.go
  persistence/types/validator.go
  persistence/validator.go
Labels: code health

#311 [Utility] Chains param name - minor bug fix
  utility/actor.go
  utility/types/gov.go
Labels: bug

#304 [P2P] Improve RainTree counter mechanism in testing framework
  Makefile
  p2p/README.md
  p2p/module.go
  p2p/module_raintree_test.go
  p2p/raintree/network.go
  p2p/types/network_peer.go
  p2p/utils.go
  p2p/utils_test.go
  runtime/test_artifacts/generator.go
  telemetry/metrics_p2p.go
Labels: p2p

#317 [P2P] Add changelog for #304
  p2p/CHANGELOG.md
Labels: p2p

#302 [TxIndexer] Integration of transaction indexer (issue-#168)
  Makefile
  consensus/CHANGELOG.md
  consensus/block.go
  consensus/consensus_tests/utils_test.go
  consensus/helpers.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/module.go
  persistence/block.go
  persistence/db.go
  persistence/docs/CHANGELOG.md
  persistence/indexer/doc/README.md
  persistence/indexer/indexer.go
  persistence/indexer/indexer_test.go
  persistence/indexer/proto/transaction_indexer.proto
  persistence/kvstore/kvstore.go
  persistence/module.go
  persistence/proto/persistence_config.proto
  shared/modules/doc/CHANGELOG.md
  shared/modules/persistence_module.go
  shared/modules/types.go
  shared/modules/utility_module.go
  utility/block.go
  utility/doc/CHANGELOG.md
  utility/proto/actor_types.proto
  utility/test/block_test.go
  utility/test/module_test.go
  utility/test/transaction_test.go
  utility/transaction.go
  utility/types/message.go
  utility/types/proto/tx_result.proto
  utility/types/transaction.go
Labels: core, priority:high

#303 [DOCUMENT] Interfaces for the M3 Session Protocol (issue-#264)
  utility/doc/CHANGELOG.md
  utility/doc/PROTOCOLS.md
  utility/doc/README.md
  utility/session.go
Labels: documentation

#309 [Persistence] Broken Tests on main regression fix - Issue #308
  runtime/test_artifacts/util.go
  utility/test/module_test.go
Labels: bug, persistence

#305 [Documentation] Updated the new contributor learning guide
  docs/learning/README.md
Labels: documentation

#318 [TECHDEBT] [P2P] Raintree presentation link
  p2p/README.md
Labels: documentation, p2p

#316 [P2P] RainTree Unit Test Generation Tooling
  p2p/CHANGELOG.md
  p2p/README.md
  p2p/module_raintree_test.go
Labels: p2p, tooling
