Repository pokt-network/pocket, pull requests merged in 2022-12, with the labels that each got.

#371 [DX] Dangling mocks cause errors when building/testing a branch after switching from another - Issue #369
  Makefile
Labels: bug, code health

#375 Update learning README
  docs/learning/README.md
Labels: documentation

#355 [Documentation] Learning README update - Go references
  docs/learning/README.md
Labels: documentation

#380 [Utility] Fix flaky tests `TestUtilityContext_ApplyBlock` and `TestUtilityContext_EndBlock`
  persistence/indexer/indexer_test.go
  persistence/validator.go
  runtime/defaults/defaults.go
  utility/test/actor_test.go
  utility/test/block_test.go
  utility/test/module_test.go
  utility/test/transaction_test.go
Labels: bug, utility, testing

#370 [Core] Productionize End-to-end tx from iteration 3 demo
  build/pkeys/val1.json
  build/pkeys/val2.json
  build/pkeys/val3.json
  build/pkeys/val4.json
  consensus/doc/CHANGELOG.md
  consensus/helpers.go
  consensus/module.go
  docs/demos/iteration_3_end_to_end_tx.md
  persistence/CHANGELOG.md
  persistence/block.go
  persistence/debug.go
  rpc/doc/CHANGELOG.md
  rpc/handlers.go
  shared/CHANGELOG.md
  shared/bus.go
  shared/messaging/messages_test.go
  shared/modules/doc/CHANGELOG.md
  shared/modules/persistence_module.go
  shared/modules/utility_module.go
  shared/node.go
  utility/block.go
  utility/context.go
  utility/doc/CHANGELOG.md
  utility/module.go
  utility/test/actor_test.go
  utility/test/module_test.go
  utility/test/transaction_test.go
  utility/transaction.go
  utility/types/error.go
  utility/types/mempool.go
  utility/types/message.go
  utility/types/proto/util_module.proto
  utility/types/transaction.go
  utility/types/vote_test.go
Labels: core, utility, persistence, client

#394 Issue/256 consensus techdebt unexport fields
  consensus/block.go
  consensus/consensus_tests/pacemaker_test.go
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/helpers.go
  consensus/hotstuff_handler.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/module.go
  consensus/pacemaker.go
  shared/modules/consensus_module.go
Labels: consensus

#374 [TECHDEBT] [P2P] integration with persistence for addressBook management - (Issue #271)
  Makefile
  consensus/consensus_tests/hotstuff_test.go
  consensus/consensus_tests/pacemaker_test.go
  consensus/consensus_tests/utils_test.go
  consensus/doc/CHANGELOG.md
  consensus/pacemaker.go
  p2p/CHANGELOG.md
  p2p/addrbook_provider/getter.go
  p2p/addrbook_provider/persistence.go
  p2p/module.go
  p2p/module_raintree_test.go
  p2p/raintree/addrbook_utils.go
  p2p/raintree/network.go
  p2p/raintree/network_test.go
  p2p/raintree/peers_manager.go
  p2p/raintree/peers_manager_test.go
  p2p/raintree/utils_test.go
  p2p/stdnetwork/network.go
  p2p/transport/transport.go
  p2p/types/addr_book.go
  p2p/types/errors.go
  p2p/types/proto/p2p_config.proto
  p2p/types/transport.go
  p2p/utils.go
  p2p/utils_test.go
  persistence/CHANGELOG.md
  persistence/actor.go
  persistence/genesis.go
  rpc/doc/CHANGELOG.md
  rpc/server.go
  runtime/defaults/defaults.go
  runtime/docs/CHANGELOG.md
  shared/CHANGELOG.md
  shared/messaging/messages_test.go
  shared/modules/persistence_module.go
  shared/modules/types.go
Labels: p2p, code health

#400 [Persistence] Bugfix: Height no longer increases in LocalNet
  p2p/CHANGELOG.md
  p2p/raintree/peers_manager.go
  persistence/actor.go
Labels: bug, p2p, persistence

#391 [Persistence][Utility] Proposal block metadata maintained in `utilityContext` rather than `postgresContext`
  consensus/consensus_tests/pacemaker_test.go
  consensus/consensus_tests/utils_test.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/module.go
  consensus/types/proto/block.proto
  persistence/CHANGELOG.md
  persistence/block.go
  persistence/context.go
  persistence/db.go
  persistence/docs/PROTOCOL_STATE_HASH.md
  persistence/genesis.go
  persistence/module.go
  persistence/proto/block_persistence.proto
  persistence/state.go
  persistence/test/account_test.go
  persistence/test/benchmark_state_test.go
  persistence/test/block_test.go
  persistence/test/generic_test.go
  persistence/test/module_test.go
  persistence/test/state_test.go
  shared/docs/PROTOCOL_STATE_HASH.md
  shared/modules/doc/CHANGELOG.md
  shared/modules/persistence_module.go
  shared/modules/utility_module.go
  utility/block.go
  utility/context.go
  utility/doc/CHANGELOG.md
  utility/test/block_test.go
Labels: utility, persistence

#378 [TECHDEBT] [P2P] P2P integration with utility for addressBook lookups - (Issue #270)
  consensus/consensus_tests/utils_test.go
  consensus/doc/CHANGELOG.md
  consensus/leader_election/module.go
  consensus/types/types.go
  p2p/CHANGELOG.md
  p2p/addrbook_provider/getter.go
  p2p/addrbook_provider/persistence.go
  p2p/raintree/utils_test.go
  p2p/types/addr_book.go
Labels: p2p, utility, code health

#397 [Tooling] CHANGELOG and Version Bump PreCommit Hook
  .githooks/pre-commit
  .github/workflows/changelog-verify.yml
  docs/development/README.md
Labels: tooling

#390 [Tooling] Create build makefile
  .gitignore
  Makefile
  app/app.go
  build.mk
Labels: tooling

#417 [Docs] Add LocalNet issues and solutions to FAQ
  Makefile
  docs/development/FAQ.md
Labels: documentation, community
