Repository pokt-network/pocket, pull requests merged in 2023-07, with the labels that each got.

#865 QOL: add bash completion for p1 to localnet client
  build/localnet/Tiltfile
Labels: tooling, waiting-for-review, small

#857 [Persistence][Bug] Fix Actor Schema Assignment for ValidatorActor in GetActor
  persistence/actor.go
Labels: waiting-for-review, small

#853 [Documentation] Add IBC Module introduction as an example
  shared/modules/doc/README.md
Labels: documentation, waiting-for-review, docs, small

#872 Devlog 10
  docs/devlog/devlog10.md
Labels: waiting-for-review, docs, medium

#877 [IBC] Add nil check on proof for membership and non-membership proof creation
  ibc/store/proofs_ics23.go
Labels: waiting-for-review, small

#870 [Utility] Update E2E feature path template doc
  .github/PULL_REQUEST_TEMPLATE.md
  utility/doc/E2E_FEATURE_PATH_TEMPLATE.md
Labels: documentation, utility, waiting-for-review, docs, small

#885 [Bug] Fix CI linter errors
  .github/workflows/golangci-lint.yml
  .github/workflows/main.yml
  .golangci.yml
  Makefile
  app/client/cli/consensus.go
  p2p/config/config.go
  p2p/raintree/router.go
Labels: bug, waiting-for-review, small

#732 [P2P] Integrate background router
  Makefile
  p2p/README.md
  p2p/background/router.go
  p2p/background/router_test.go
  p2p/bootstrap.go
  p2p/config/config.go
  p2p/event_handler.go
  p2p/module.go
  p2p/module_raintree_test.go
  p2p/module_test.go
  p2p/protocol/protocol.go
  p2p/raintree/peers_manager_test.go
  p2p/raintree/router.go
  p2p/raintree/router_test.go
  p2p/testutil.go
  p2p/transport_encryption_test.go
  p2p/types/errors.go
  p2p/types/proto/background.proto
  p2p/types/proto/raintree.proto
  p2p/types/router.go
  p2p/utils/host.go
  p2p/utils_test.go
  shared/messaging/envelope.go
Labels: p2p, push-image, waiting-for-review, e2e-devnet-test, large

#855 chore: introduce `Submodule` interface
  app/client/cli/debug.go
  app/client/cli/helpers/setup.go
  consensus/events.go
  consensus/leader_election/module.go
  consensus/module.go
  consensus/pacemaker/module.go
  ibc/module.go
  logger/module.go
  p2p/background/router.go
  p2p/bootstrap.go
  p2p/config/config.go
  p2p/module.go
  p2p/providers/current_height_provider/current_height_provider.go
  p2p/providers/current_height_provider/rpc/provider.go
  p2p/providers/peerstore_provider/peerstore_provider.go
  p2p/providers/peerstore_provider/persistence/provider.go
  p2p/providers/peerstore_provider/rpc/provider.go
  p2p/raintree/router.go
  p2p/testutil.go
  p2p/types/router.go
  p2p/unicast/router.go
  p2p/utils_test.go
  persistence/local/module.go
  persistence/module.go
  persistence/trees/trees.go
  rpc/module.go
  rpc/noop_module.go
  rpc/server.go
  runtime/bus.go
  runtime/manager.go
  runtime/modules_registry.go
  shared/modules/base_modules/integratable_module.go
  shared/modules/bus_module.go
  shared/modules/doc/README.md
  shared/modules/module.go
  shared/modules/modules_registry_module.go
  shared/modules/treestore_module.go
  shared/modules/utility_module.go
  state_machine/module.go
  telemetry/module.go
  telemetry/prometheus_module.go
  utility/fisherman/module.go
  utility/module.go
  utility/servicer/module.go
  utility/unit_of_work/module.go
  utility/validator/module.go
Labels: core, code health, push-image, waiting-for-review, e2e-devnet-test, large

#899 disable persistance of volumes on LocalNet
  charts/pocket/README.md
  charts/pocket/values.yaml
Labels: waiting-for-review, small

#881 fix: zero value nonce is invalid
  p2p/module.go
  p2p/module_test.go
  p2p/types/errors.go
  shared/crypto/rand.go
Labels: core, p2p, waiting-for-review, medium

#847 [IBC] Implement ICS-24 - Tracking IBC store transitions in the network state
  Makefile
  build/config/config.validator1.json
  build/config/config.validator2.json
  build/config/config.validator3.json
  build/config/config.validator4.json
  consensus/e2e_tests/utils_test.go
  ibc/docs/README.md
  ibc/docs/ics24.md
  ibc/handle_message_test.go
  ibc/host.go
  ibc/ibc.feature.wip
  ibc/main_test.go
  ibc/module.go
  ibc/path/identifiers.go
  ibc/path/keys.go
  ibc/path/keys_ics02.go
  ibc/path/keys_ics03.go
  ibc/path/keys_ics04.go
  ibc/path/keys_ics05.go
  ibc/path/path_test.go
  ibc/path/prefix.go
  ibc/store/proofs_ics23.go
  ibc/store/provable_store.go
  ibc/store/store_manager.go
  ibc/types/convert.go
  ibc/types/messages.go
  ibc/types/proto/messages.proto
  internal/testutil/ibc/mock.go
  persistence/db.go
  persistence/debug.go
  persistence/docs/PROTOCOL_STATE_HASH.md
  persistence/ibc.go
  persistence/sql/sql.go
  persistence/test/benchmark_state_test.go
  persistence/test/state_test.go
  persistence/trees/trees.go
  persistence/types/ibc.go
  runtime/configs/config.go
  runtime/configs/proto/ibc_config.proto
  runtime/defaults/defaults.go
  runtime/manager_test.go
  shared/core/types/error.go
  shared/messaging/events.go
  shared/modules/ibc_module.go
  shared/modules/persistence_module.go
  shared/node.go
  utility/session_test.go
  utility/unit_of_work/gov.go
  utility/unit_of_work/transaction.go
  utility/unit_of_work/tx_message_handler.go
  utility/unit_of_work/tx_message_signers.go
  utility/utility_message_handler.go
Labels: waiting-for-review, e2e-devnet-test, large, ibc

#868 [IBC] Make the IBC Host a submodule with access to the bus
  build/config/config.validator1.json
  build/config/config.validator2.json
  build/config/config.validator3.json
  build/config/config.validator4.json
  consensus/e2e_tests/utils_test.go
  ibc/docs/ics24.md
  ibc/host.go
  ibc/host/submodule.go
  ibc/ibc_handle_event_test.go
  ibc/ibc_msg_mempool_test.go
  ibc/main_test.go
  ibc/module.go
  ibc/store/bulk_store_cache.go
  ibc/store/emitter.go
  ibc/store/provable_store.go
  ibc/store/provable_store_test.go
  ibc/store/store_manager.go
  internal/testutil/ibc/mock.go
  p2p/README.md
  p2p/module.go
  persistence/ibc.go
  persistence/test/benchmark_state_test.go
  persistence/test/ibc_test.go
  persistence/trees/module.go
  persistence/types/ibc.go
  runtime/bus.go
  runtime/configs/config.go
  runtime/configs/proto/ibc_config.proto
  runtime/defaults/defaults.go
  runtime/manager_test.go
  shared/core/types/error.go
  shared/messaging/events.go
  shared/modules/bus_module.go
  shared/modules/ibc_host_module.go
  shared/modules/ibc_module.go
  shared/modules/ibc_store_module.go
  shared/modules/mocks/mocks.go
  shared/modules/treestore_module.go
  shared/node.go
Labels: waiting-for-review, e2e-devnet-test, large, ibc

#905 [BUG] Bring back shared/modules/mocks/mocks.go
  shared/modules/mocks/mocks.go
Labels: bug, testing, waiting-for-review, small

#904 [P2P] Fix flaky P2P tests
  p2p/background/kad_discovery_baseline_test.go
  p2p/background/router_test.go
Labels: p2p, testing, push-image, waiting-for-review, e2e-devnet-test, small

#902 [P2P][Core] P2P Retries + Debug CLI Improvements
  Makefile
  app/client/cli/cmd.go
  app/client/cli/debug.go
  app/client/cli/docgen/main.go
  app/client/cli/helpers/setup.go
  build/deployments/docker-compose.yaml
  build/localnet/manifests/cli-client.yaml
  e2e/tests/steps_init_test.go
  p2p/background/router.go
  persistence/block.go
  runtime/configs/proto/p2p_config.proto
Labels: bug, p2p, testing, waiting-for-review, e2e-devnet-test, medium

#908 [Core] Add trigger_ci target that pushes an empty commit
  Makefile
Labels: bug, tooling, waiting-for-review, small

#903 [Tooling] Retrieve keys for all actors from k8s secrets
  shared/k8s/debug.go
Labels: tooling, testing, waiting-for-review, e2e-devnet-test, small

#911 Devlog11
  docs/devlog/devlog11.md
Labels: documentation, waiting-for-review, docs, medium

#917 [P2P] chore: Fix P2P linter errors
  p2p/transport_encryption_test.go
  p2p/utils_test.go
Labels: bug, p2p, waiting-for-review, e2e-devnet-test, small

#773 [Docs] add code review guidelines
  docs/development/CODE_REVIEW_GUIDELINES.md
  docs/development/README.md
  docs/development/assets/github_line_comment.png
  docs/development/assets/line_comment_dialog_start.png
  docs/development/assets/submit_review.png
Labels: documentation, code health, waiting-for-review, medium

#915 [Persistence] Update block header
  persistence/actor.go
  persistence/block.go
  persistence/test/actor_test.go
  persistence/trees/trees.go
  persistence/trees/trees_test.go
  rpc/utils.go
  rpc/v1/openapi.yaml
  shared/core/types/proto/block.proto
  shared/modules/persistence_module.go
  shared/modules/treestore_module.go
Labels: persistence, waiting-for-review, e2e-devnet-test, medium

#910 [Tooling] Bump golang to 1.20
  .github/workflows/golangci-lint.yml
  .github/workflows/main.yml
  .golangci.yml
  README.md
  build.mk
  build/Dockerfile.client
  build/Dockerfile.debian.dev
  build/Dockerfile.debian.prod
  build/Dockerfile.localdev
  docs/development/GOLANG_UPGRADE.md
  docs/development/README.md
  go.mod
Labels: waiting-for-review, e2e-devnet-test, small

#896 [Chore] Submodule pattern updates to TreeStore
  ibc/store/provable_store_test.go
  persistence/module.go
  persistence/sql/sql.go
  persistence/trees/module.go
  persistence/trees/module_test.go
  persistence/trees/trees.go
  runtime/bus.go
  shared/modules/doc/README.md
  shared/modules/persistence_module.go
  shared/modules/treestore_module.go
Labels: code health, waiting-for-review, e2e-devnet-test, large

#921 [Infra] update LocalNet servicers' URLs
  build/localnet/manifests/configs.yaml
  charts/pocket/templates/configmap-genesis.yaml
Labels: infra, waiting-for-review, small

#923 [Docs] Update development docs to warn to not use the changelog hook
  docs/development/README.md
Labels: documentation, waiting-for-review, docs, small

#934 [IBC] chore: Rename FlushAllEntries => FlushCachesToStore
  ibc/ibc_handle_event_test.go
  ibc/module.go
  ibc/store/bulk_store_cache.go
  ibc/store/provable_store.go
  ibc/store/provable_store_test.go
  internal/testutil/ibc/mock.go
  shared/modules/ibc_store_module.go
Labels: code health, waiting-for-review, e2e-devnet-test, small, ibc

#888 [Utility] Feat: add client-side session cache
  app/client/cli/cache/session.go
  app/client/cli/cache/session_test.go
  app/client/cli/servicer.go
  app/client/cli/servicer_test.go
Labels: utility, waiting-for-review, large

#922 [IBC] Clone `cosmos/ics23` protobuf definitions into IBC repo
  Makefile
  ibc/types/proofs.go
  ibc/types/proto/proofs.proto
Labels: waiting-for-review, e2e-devnet-test, large, ibc

#891 [CLI] Consistent config/flag parsing & common helpers
  app/client/cli/debug.go
  app/client/cli/helpers/common.go
  app/client/cli/helpers/context.go
  app/client/cli/helpers/setup.go
  runtime/manager.go
Labels: code health, tooling, push-image, waiting-for-review, e2e-devnet-test, medium

#931 [IBC] Change Events to not have a Height field and use uint64 in queries
  ibc/events/event_manager.go
  ibc/store/provable_store.go
  ibc/store/provable_store_test.go
  persistence/gov.go
  persistence/ibc.go
  persistence/test/ibc_test.go
  persistence/types/ibc.go
  shared/core/types/ibc_events.go
  shared/core/types/proto/ibc_events.proto
  shared/modules/ibc_event_module.go
  shared/modules/persistence_module.go
Labels: code health, waiting-for-review, e2e-devnet-test, small, ibc

#932 [IBC] Add ICS-02 Client Interfaces
  Makefile
  ibc/client/light_clients/types/proto/pocket.proto
  ibc/client/types/proto/wasm.proto
  shared/modules/bus_module.go
  shared/modules/ibc_client_module.go
  shared/modules/ibc_host_module.go
  shared/modules/ibc_module.go
Labels: waiting-for-review, e2e-devnet-test, large, ibc

#935 [Persistence] Adds `node` subcommand to CLI
  app/client/cli/node.go
Labels: waiting-for-review, small

#941 [IBC] chore: enable IBC module in k8s validators
  charts/pocket/README.md
  charts/pocket/values.yaml
Labels: waiting-for-review, e2e-devnet-test, small, ibc

#937 [Utility] Use TreeStore as source of truth
  ibc/ibc_msg_mempool_test.go
  persistence/block.go
  persistence/trees/trees.go
  persistence/trees/trees_test.go
  shared/modules/persistence_module.go
  shared/modules/treestore_module.go
  utility/transaction.go
  utility/transaction_test.go
Labels: utility, persistence, waiting-for-review, e2e-devnet-test, large

#942 [IBC] Enable validators and thus IBC host creation in K8s
  build/localnet/manifests/cli-client.yaml
  charts/pocket/README.md
  charts/pocket/templates/statefulset.yaml
  charts/pocket/values.yaml
Labels: infra, waiting-for-review, e2e-devnet-test, small, ibc

#938 [Utility] Create trustless_relay_validation.md
  utility/doc/README.md
  utility/doc/TRUSTLESS_RELAY_VALIDATION.md
Labels: documentation, utility, waiting-for-review, docs, small

#861 [Persistence] Adds atomic Update for TreeStore
  persistence/context.go
  persistence/db.go
  persistence/docs/CHANGELOG.md
  persistence/trees/atomic_test.go
  persistence/trees/main_test.go
  persistence/trees/module_test.go
  persistence/trees/prove_test.go
  persistence/trees/trees.go
  persistence/trees/trees_test.go
  shared/modules/persistence_module.go
  shared/modules/treestore_module.go
  utility/unit_of_work/block.go
  utility/unit_of_work/module.go
  utility/unit_of_work/uow_leader.go
  utility/unit_of_work/uow_leader_test.go
Labels: persistence, code health, waiting-for-review, e2e-devnet-test, large

#939 [chore] Replaces multierr usage with go native errors package
  go.mod
  p2p/background/router.go
  p2p/config/config.go
  p2p/module.go
  p2p/providers/peerstore_provider/peerstore_provider.go
  p2p/utils/host.go
  persistence/context.go
  shared/node.go
  utility/unit_of_work/module.go
Labels: code health, waiting-for-review, small

#954 hack: 😴 sleep enough for cli debug subcommands to broadcast
  app/client/cli/debug.go
Labels: waiting-for-review, small
