Repository pokt-network/pocket, pull requests merged in 2023-01, with the labels that each got.

#411 [Docs] Delete CONTRIBUTING.md
  docs/contributing/CONTRIBUTING.md
Labels: documentation

#418 [Docs] Build Makefile for p1 CLI documentation
  docs/development/README.md
Labels: documentation

#413 [Consensus] State sync design overhaul - block-by-block state sync
  Makefile
  consensus/doc/CHANGELOG.md
  consensus/doc/PROTOCOL_STATE_SYNC.md
  consensus/state_sync/module.go
  consensus/types/proto/block.proto
  consensus/types/proto/hotstuff.proto
  consensus/types/proto/state_sync.proto
  shared/modules/doc/CHANGELOG.md
  shared/modules/p2p_module.go
Labels: consensus

#402 [TECHDEBT] Consolidate & encapsulate ValidatorMap logic - (Issue #203)
  Makefile
  app/client/cli/debug.go
  app/client/cli/doc/CHANGELOG.md
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/docs/CHANGELOG.md
  consensus/doc/CHANGELOG.md
  consensus/module.go
  consensus/types/types.go
  p2p/CHANGELOG.md
  p2p/addrbook_provider/getter.go
  p2p/addrbook_provider/persistence.go
  p2p/module.go
  p2p/providers/addrbook_provider/addrbook_provider.go
  p2p/providers/addrbook_provider/debug/provider.go
  p2p/providers/addrbook_provider/persistence/provider.go
  p2p/providers/current_height_provider/current_height_provider.go
  p2p/providers/current_height_provider/debug/provider.go
  p2p/providers/providers.go
  p2p/raintree/network.go
  p2p/raintree/network_test.go
  p2p/raintree/peers_manager.go
  p2p/raintree/peers_manager_test.go
  p2p/raintree/utils_test.go
  p2p/stdnetwork/network.go
  p2p/types/addr_book.go
  p2p/utils_test.go
  runtime/configs/proto/p2p_config.proto
  runtime/docs/CHANGELOG.md
  shared/CHANGELOG.md
  shared/modules/consensus_module.go
Labels: core, consensus, code health

#404 [Consensus] Fix testing framework concurrency and improve logging
  Makefile
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/config/genesis.json
  build/docs/CHANGELOG.md
  build/pkeys/val1.json
  build/pkeys/val2.json
  build/pkeys/val3.json
  build/pkeys/val4.json
  consensus/block.go
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/hotstuff_test.go
  consensus/e2e_tests/pacemaker_test.go
  consensus/e2e_tests/utils_test.go
  consensus/helpers.go
  consensus/hotstuff_handler.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/leader_election/module.go
  consensus/leader_election/sortition/sortition_test.go
  consensus/leader_election/vrf/vrf_test.go
  consensus/module.go
  consensus/pacemaker.go
  consensus/types/errors.go
  docs/demos/iteration_3_end_to_end_tx.md
  p2p/CHANGELOG.md
  p2p/raintree/network.go
  p2p/utils_test.go
  persistence/context.go
  persistence/docs/CHANGELOG.md
  runtime/bus.go
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  shared/CHANGELOG.md
  shared/modules/bus_module.go
  shared/modules/doc/CHANGELOG.md
  shared/node.go
Labels: bug, core, consensus

#422 [TECHDEBT] Change the PersistenceRWContext interface to pass paramName when getting a parameter - (Issue #286)
  persistence/docs/CHANGELOG.md
  persistence/gov.go
  persistence/test/gov_test.go
  shared/CHANGELOG.md
  shared/modules/persistence_module.go
  utility/doc/CHANGELOG.md
  utility/gov.go
  utility/test/gov_test.go
Labels: persistence, code health

#407 [TECHDEBT][PERSISTENCE] Add: connection pooling to persistence layer db connection
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/docs/CHANGELOG.md
  go.mod
  go.sum
  persistence/account.go
  persistence/context.go
  persistence/db.go
  persistence/docs/CHANGELOG.md
  persistence/module.go
  persistence/shared_sql.go
  persistence/test/setup_test.go
  runtime/configs/proto/persistence_config.proto
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  runtime/test_artifacts/util.go
  utility/doc/CHANGELOG.md
  utility/test/module_test.go
Labels: persistence, community

#439 [Documentation] Update the learning guide
  docs/development/README.md
  docs/learning/README.md
Labels: documentation

#444 [Core] Consolidated the block proto types
  Makefile
  consensus/block.go
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/pacemaker_test.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/messages.go
  consensus/module.go
  consensus/state_sync/module.go
  consensus/types/proto/block.proto
  consensus/types/proto/hotstuff.proto
  consensus/types/proto/state_sync.proto
  persistence/block.go
  persistence/debug.go
  persistence/docs/CHANGELOG.md
  persistence/proto/block_persistence.proto
  persistence/test/state_test.go
  shared/CHANGELOG.md
  shared/codec/codec_test.go
  shared/core/types/proto/block.proto
Labels: core, consensus, persistence

#449 [Consensus] Added comment to the top of state_sync.proto
  consensus/doc/CHANGELOG.md
  consensus/types/proto/state_sync.proto
  persistence/docs/CHANGELOG.md
  shared/CHANGELOG.md
Labels: documentation, consensus

#446 [Cleanup] Rewrite interface{} to any (Issue #156)
  consensus/doc/CHANGELOG.md
  consensus/types/errors.go
  p2p/CHANGELOG.md
  p2p/types/errors.go
  p2p/utils_test.go
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  shared/CHANGELOG.md
  shared/modules/persistence_module.go
  telemetry/CHANGELOG.md
  telemetry/noop_module.go
  telemetry/prometheus_module.go
  utility/doc/CHANGELOG.md
  utility/gov.go
  utility/types/error.go
Labels: code health

#447 [Docs] tidy learning readme
  docs/learning/README.md
Labels: documentation, priority:low

#448 [Persistence] Update pgadmin documentation
  Makefile
  build/deployments/docker-compose.yaml
  build/docs/CHANGELOG.md
  build/pgadmin/pgpass
  build/pgadmin/servers.json
  persistence/docs/CHANGELOG.md
  persistence/docs/README.md
  persistence/docs/pgadmin_config.png
Labels: documentation, persistence

#452 [Documentation] Fix typos
  docs/demos/iteration_3_end_to_end_tx.md
  docs/deps/README.md
  docs/development/FAQ.md
  docs/development/README.md
  docs/learning/README.md
  docs/releases/README.md
  docs/roadmap/README.md
Labels: documentation

#442 [Persistence] Consolidate common behaviour between `Pool` and `Account` into a shared interface (Issue #102)
  persistence/account.go
  persistence/account_shared_sql.go
  persistence/actor_shared_sql.go
  persistence/db.go
  persistence/debug.go
  persistence/docs/CHANGELOG.md
  persistence/genesis.go
  persistence/test/module_test.go
  persistence/types/account.go
  persistence/types/account_shared_sql.go
  persistence/types/actor_shared_sql.go
  persistence/types/base_account.go
  persistence/types/pool.go
  persistence/types/protocol_account.go
  shared/CHANGELOG.md
  shared/modules/persistence_module.go
  utility/account.go
  utility/doc/CHANGELOG.md
Labels: core, persistence, code health

#451 [Runtime] docs: fix broken link
  runtime/docs/README.md
Labels: documentation, priority:low

#457 [Tooling] changelog date verification: compare against last relevant commit
  .githooks/pre-push
  .github/workflows/changelog-verify.yml
Labels: code health, tooling

#427 [Consensus] Decoupling the Pacemaker and Consensus modules (Synchronous method)
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/pacemaker_test.go
  consensus/helpers.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/module.go
  consensus/pacemaker.go
  consensus/pacemaker/debug.go
  consensus/pacemaker/pacemaker.go
  consensus/pacemaker_consensus.go
  consensus/types/errors.go
  shared/CHANGELOG.md
  shared/docs/PROTOCOL_STATE_HASH.md
  shared/modules/consensus_module.go
Labels: consensus, code health

#445 [Core] Investigate memory leaks, manual GC on ResetToGenesis - (Issue #440)
  build/deployments/docker-compose.yaml
  build/docs/CHANGELOG.md
  build/scripts/watch.sh
  docs/development/PROFILING.md
  docs/development/README.md
  persistence/debug.go
  persistence/docs/CHANGELOG.md
  rpc/doc/CHANGELOG.md
  rpc/pprof.go
  runtime/docs/CHANGELOG.md
Labels: bug, core, code health

#463 [Consensus] Add a TODO for #462 in the test framework
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/utils_test.go
Labels: consensus

#450 [P2P / runtime] chore: p2p connection type
  Makefile
  p2p/CHANGELOG.md
  p2p/transport/transport.go
  p2p/utils_test.go
  runtime/configs/config.go
  runtime/configs/proto/p2p_config.proto
  runtime/configs/types/proto/connection.proto
  runtime/defaults/defaults.go
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
Labels: core, p2p

#464 [Tooling] chore: add destrictive warning to docker_w*pe target
  Makefile
Labels: tooling

#468 [Tooling] fix: changelog verification workflow
  .githooks/pre-receive
  .github/workflows/changelog-verify.yml
Labels: code health, tooling

#471 [TOOLING] Fix changelog verification for worklow to extract current date
  .githooks/pre-receive
Labels: bug, tooling

#453 [Persistence] Add logic for `updateParamsTree` and `updateFlagsTree` functions for the Sparse Merkle Tree
  persistence/account_shared_sql.go
  persistence/actor_shared_sql.go
  persistence/docs/CHANGELOG.md
  persistence/gov.go
  persistence/state.go
  persistence/test/state_test.go
  shared/CHANGELOG.md
  shared/core/types/proto/param.proto
Labels: core, persistence

#474 Fix: unit tests in consensus, p2p and persistence modules
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/hotstuff_test.go
  p2p/CHANGELOG.md
  p2p/raintree/peers_manager_test.go
  persistence/docs/CHANGELOG.md
  persistence/test/application_test.go
  persistence/test/fisherman_test.go
  persistence/test/module_test.go
  persistence/test/service_node_test.go
  persistence/test/setup_test.go
  persistence/test/validator_test.go
  utility/doc/CHANGELOG.md
  utility/test/account_test.go
  utility/test/actor_test.go
Labels: code health, testing

#472 [Persistence] Add deterministic `Hash` functions to `Param` and `Flag` protobufs
  persistence/docs/CHANGELOG.md
  persistence/state.go
  persistence/test/state_test.go
  shared/CHANGELOG.md
  shared/core/types/proto/param.proto
Labels: bug, persistence
