Repository pokt-network/pocket, pull requests merged in 2023-03, with the labels that each got.

#535 [P2P, Runtime] Update P2P & base config (part 2)
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/config/genesis.json
  build/deployments/.env.example
  build/deployments/docker-compose.yaml
  build/docs/CHANGELOG.md
  build/localnet/cluster-manager/main.go
  build/localnet/manifests/cli-client.yaml
  build/localnet/manifests/cluster-manager.yaml
  build/localnet/manifests/configs.yaml
  build/localnet/templates/v1-validator-template.yaml.tpl
  p2p/CHANGELOG.md
  p2p/module_test.go
  p2p/transport/transport.go
  p2p/utils_test.go
  persistence/docs/CHANGELOG.md
  persistence/test/state_test.go
  runtime/configs/config.go
  runtime/configs/proto/p2p_config.proto
  runtime/defaults/defaults.go
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  runtime/test_artifacts/defaults.go
Labels: p2p

#534 [Libp2p] Add libp2p module directories and helpers (part 1)
  .gitignore
  Makefile
  go.mod
  go.sum
  libp2p/docs/CHANGELOG.md
  libp2p/network/peer_conversion.go
  libp2p/network/url_conversion.go
  libp2p/network/url_conversion_test.go
  libp2p/transport/transport.go
  libp2p/types/mocks/mocks.go
  p2p/types/network_peer.go
  shared/CHANGELOG.md
  shared/crypto/error.go
  shared/crypto/libp2p.go
Labels: p2p

#540 [Libp2p] Add libp2p based P2P `Network` implementation (part 3)
  .github/workflows/main.yml
  go.mod
  go.sum
  libp2p/docs/CHANGELOG.md
  libp2p/network/network.go
  libp2p/network/network_test.go
  libp2p/network/utils_test.go
  libp2p/protocol/protocol.go
  p2p/CHANGELOG.md
  p2p/providers/addrbook_provider/addrbook_provider.go
Labels: p2p

#545 [Libp2p] Add Libp2p module (part 4)
  libp2p/docs/CHANGELOG.md
  libp2p/module.go
  libp2p/protocol/protocol.go
  p2p/CHANGELOG.md
  p2p/module.go
Labels: p2p

#546 [Libp2p] Plug it in (part 5)
  app/client/cli/debug.go
  app/client/doc/CHANGELOG.md
  shared/CHANGELOG.md
  shared/node.go
Labels: p2p

#559 [CI] fix container builds
  build/Dockerfile.debian.dev
  build/Dockerfile.debian.prod
  build/docs/CHANGELOG.md
Labels: infra, tooling

#572 add get secrets perms to cluster-manager-account service account
  build/docs/CHANGELOG.md
  build/localnet/manifests/role-bindings.yaml
Labels: infra, tooling

#573 [Documentation] Fix SLIP Master Key and Child Key diagrams to be in the correct order
  shared/CHANGELOG.md
  shared/crypto/README.md
Labels: documentation, code health

#578 [CLI] add private keys embed to debug cli build
  Makefile
  app/client/cli/cmd.go
  app/client/debug.go
  app/client/doc/CHANGELOG.md
  app/client/doc/README.md
  app/client/keybase/debug/keystore.go
  app/docs/CHANGELOG.md
  build/debug.go
  build/docs/CHANGELOG.md
  build/dummy.go
  build/localnet/Tiltfile
Labels: infra

#586 [P2P] test: URL conversion with mockdns
  go.mod
  go.sum
  libp2p/docs/CHANGELOG.md
  libp2p/network/url_conversion_test.go
Labels: p2p

#587 chore: add `godoc` comment requirement
  .github/PULL_REQUEST_TEMPLATE.md
Labels: tooling

#590 [Libp2p] post-merge review improvements
  libp2p/docs/CHANGELOG.md
  libp2p/network/network.go
  libp2p/network/network_test.go
  libp2p/network/url_conversion_test.go
  libp2p/network/utils_test.go
Labels: p2p, code health

#591 [debug client] Limit key import concurrency to 4
  app/client/doc/CHANGELOG.md
  app/client/keybase/debug/keystore.go
  build/docs/CHANGELOG.md
  build/localnet/Tiltfile
  build/localnet/manifests/cli-client.yaml
  go.mod
  go.sum
Labels: bug, infra

#596 [Tooling] Output changelog validation check into the PR automatically
  .github/workflows/changelog-verify.yml
Labels: tooling

#575 Add StateMachineTransitionEvent logger function
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/hotstuff_test.go
  consensus/state_sync/helpers.go
  consensus/state_sync/module.go
  consensus/state_sync/server.go
  p2p/CHANGELOG.md
  p2p/event_handler.go
  shared/CHANGELOG.md
  shared/messaging/events.go
Labels: consensus, code health

#597 [p2p] Improve URL validation and error handling in Libp2pMultiaddrFromServiceURL function
  libp2p/docs/CHANGELOG.md
  libp2p/network/network_test.go
  libp2p/network/url_conversion.go
  libp2p/network/url_conversion_test.go
Labels: bug, p2p

#610 [P2P, Libp2p] fix: IPv6 conversion to valid URL
  libp2p/docs/CHANGELOG.md
  libp2p/network/url_conversion.go
  libp2p/network/url_conversion_test.go
Labels: bug, p2p

#608 [CLI][Localnet][Bug] - [localnet_client_debug] Error 137 - Issue #607
  Makefile
  app/client/keybase/debug/keystore.go
  app/docs/CHANGELOG.md
  build/debug.go
  build/debug_keybase/cedffe1d784ca397062169b565abc056.md5
  build/debug_keybase/debug_keybase.bak
  build/debug_keybase/main.go
  build/docs/CHANGELOG.md
Labels: bug, infra, client

#611 [Infra][P2P] Bug: "address not found in peerstore" error in localnet_debug_client when scaling up Localnet - Issue #604
  app/client/cli/debug.go
  app/docs/CHANGELOG.md
  p2p/CHANGELOG.md
  p2p/providers/peerstore_provider/errors.go
  p2p/providers/peerstore_provider/peerstore_provider.go
  p2p/raintree/network.go
  p2p/stdnetwork/network.go
Labels: bug, p2p, infra, client

#620 docs(wiki): ValueError: Duplicate wiki path: devlog/template
  docs/devlog/devlog3.md
  docs/devlog/devlog4.md
Labels: bug, documentation

#593 [Consensus] Add Quorum Certificate to the block
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/hotstuff_test.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  consensus/state_sync/module.go
  consensus/types/messages.go
Labels: bug, consensus

#624 [Documentation] New environment documentation improvements
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  Makefile
  app/client/cli/debug.go
  app/client/doc/CHANGELOG.md
  build/docs/CHANGELOG.md
  build/localnet/README.md
  docs/devlog/devlog3.md
  docs/devlog/devlog4.md
  docs/devlog/devlog_template.md
  tools/CHANGELOG.md
  tools/wiki_sync.py
Labels: documentation

#632 [CONSENSUS] bugfix for: unable to send txs in localnet - Issue #631
  consensus/doc/CHANGELOG.md
  consensus/hotstuff_leader.go
Labels: bug, consensus

#639 [Tooling][Bug] Fix: changelog verifiers fails to dismiss the review - Issue #638
  .github/workflows/changelog-verify.yml
Labels: bug, tooling

#623 [Core] Improve module creation documentation - Issue #509
  shared/modules/doc/CHANGELOG.md
  shared/modules/doc/README.md
  shared/modules/module.go
Labels: documentation, core

#640 [Infra] cluster-manager should not stake validators that are already staked in genesis at startup - Issue #635
  build/docs/CHANGELOG.md
  build/localnet/cluster-manager/main.go
  build/localnet/cluster-manager/utils.go
  build/localnet/manifests/cluster-manager.yaml
Labels: infra
