Repository pokt-network/pocket, pull requests merged in 2023-02, with the labels that each got.

#459 [Client Tooling] Keybase (issue #455)
  Makefile
  app/client/doc/CHANGELOG.md
  app/client/doc/README.md
  app/client/doc/commands/.gitkeep
  app/client/doc/commands/client.md
  app/client/doc/commands/client_Account.md
  app/client/doc/commands/client_Account_Send.md
  app/client/doc/commands/client_Application.md
  app/client/doc/commands/client_Application_EditStake.md
  app/client/doc/commands/client_Application_Stake.md
  app/client/doc/commands/client_Application_Unpause.md
  app/client/doc/commands/client_Application_Unstake.md
  app/client/doc/commands/client_Consensus.md
  app/client/doc/commands/client_Consensus_Height.md
  app/client/doc/commands/client_Consensus_Round.md
  app/client/doc/commands/client_Consensus_State.md
  app/client/doc/commands/client_Consensus_Step.md
  app/client/doc/commands/client_Fisherman.md
  app/client/doc/commands/client_Fisherman_EditStake.md
  app/client/doc/commands/client_Fisherman_Stake.md
  app/client/doc/commands/client_Fisherman_Unpause.md
  app/client/doc/commands/client_Fisherman_Unstake.md
  app/client/doc/commands/client_Governance.md
  app/client/doc/commands/client_Governance_ChangeParameter.md
  app/client/doc/commands/client_Node.md
  app/client/doc/commands/client_Node_EditStake.md
  app/client/doc/commands/client_Node_Stake.md
  app/client/doc/commands/client_Node_Unpause.md
  app/client/doc/commands/client_Node_Unstake.md
  app/client/doc/commands/client_System.md
  app/client/doc/commands/client_System_Health.md
  app/client/doc/commands/client_System_Version.md
  app/client/doc/commands/client_Validator.md
  app/client/doc/commands/client_Validator_EditStake.md
  app/client/doc/commands/client_Validator_Stake.md
  app/client/doc/commands/client_Validator_Unpause.md
  app/client/doc/commands/client_Validator_Unstake.md
  app/client/keybase/README.md
  app/client/keybase/keybase.go
  app/client/keybase/keybase_test.go
  app/client/keybase/keystore.go
  go.mod
  go.sum
  shared/CHANGELOG.md
  shared/crypto/README.md
  shared/crypto/armour.go
  shared/crypto/keypair.go
Labels: tooling, client

#486 [Documentation] Update V1 Roadmap Timelines
  docs/roadmap/README.md
Labels: documentation

#419 [Documentation] Python Automation script and workflow for github wiki
  .github/workflows/wiki_sync_process.yml
  README.md
  build/config/README.md
  consensus/doc/CHANGELOG.md
  consensus/doc/PROTOCOL_STATE_SYNC.md
  docs/contributing/README.md
  docs/demos/iteration_3_end_to_end_tx.md
  docs/deps/README.md
  docs/development/FAQ.md
  docs/development/README.md
  docs/learning/README.md
  docs/releases/README.md
  docs/roadmap/README.md
  p2p/CHANGELOG.md
  p2p/README.md
  persistence/docs/CHANGELOG.md
  persistence/docs/PROTOCOL_STATE_HASH.md
  persistence/docs/README.md
  persistence/indexer/doc/README.md
  rpc/doc/CHANGELOG.md
  rpc/doc/README.md
  runtime/docs/CHANGELOG.md
  runtime/docs/README.md
  shared/CHANGELOG.md
  shared/README.md
  shared/docs/PROTOCOL_STATE_HASH.md
  shared/docs/flows/README.md
  shared/modules/doc/CHANGELOG.md
  shared/modules/doc/README.md
  telemetry/README.md
  tools/images/folder.png
  tools/images/sidebar.png
  tools/images/sidebar_format.png
  tools/wiki_sync.py
  utility/doc/CHANGELOG.md
  utility/doc/PROTOCOL_RELAY.md
  utility/doc/PROTOCOL_SESSION.md
  utility/doc/README.md
Labels: documentation

#487 [DOCS] Fix links to app module docs
  README.md
  app/client/doc/CHANGELOG.md
  app/client/keybase/README.md
Labels: documentation

#437 [Core] Externalize a shared Mempool interface & implementation - (Issue #388)
  Makefile
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/pacemaker_test.go
  consensus/e2e_tests/utils_test.go
  consensus/helpers.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_mempool.go
  consensus/hotstuff_mempool_test.go
  consensus/module.go
  p2p/CHANGELOG.md
  p2p/raintree/network.go
  p2p/raintree/nonce_deduper.go
  p2p/raintree/nonce_deduper_test.go
  runtime/bus.go
  runtime/docs/CHANGELOG.md
  shared/CHANGELOG.md
  shared/mempool/generic_fifo_set.go
  shared/mempool/list/generic_fifo_list.go
  shared/mempool/tx_mempool.go
  shared/modules/utility_module.go
  utility/block.go
  utility/context.go
  utility/doc/CHANGELOG.md
  utility/module.go
  utility/test/module_test.go
  utility/test/transaction_test.go
  utility/transaction.go
  utility/types/mempool.go
  utility/types/tx_fifo_mempool.go
  utility/types/tx_fifo_mempool_test.go
Labels: core, p2p, utility

#488 [Documentation] Update all READMEs to be reflected in the github wiki
  .github/ISSUE_TEMPLATE/issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  app/client/doc/CHANGELOG.md
  app/client/doc/README.md
  app/client/keybase/README.md
  app/pocket/doc/CHANGELOG.md
  app/pocket/doc/README.md
  build/docs/CHANGELOG.md
  docs/development/FAQ.md
  docs/development/PROFILING.md
  docs/devlog/devlog1.md
  docs/devlog_agenda.md
  docs/learning/README.md
  docs/releases/README.md
  docs/roadmap/README.md
  logger/docs/CHANGELOG.md
  persistence/docs/CHANGELOG.md
  persistence/docs/README.md
  persistence/indexer/doc/README.md
  rpc/doc/CHANGELOG.md
  runtime/docs/CHANGELOG.md
  runtime/docs/README.md
  shared/CHANGELOG.md
  shared/crypto/README.md
  telemetry/CHANGELOG.md
  tools/CHANGELOG.md
  tools/wiki_sync.py
  utility/doc/CHANGELOG.md
  utility/doc/PROTOCOL_RELAY.md
  utility/doc/PROTOCOL_SESSION.md
Labels: documentation

#495 Iteration 9 Demo: LocalNet k8s & Logging Infrastructure
  build/docs/CHANGELOG.md
  build/localnet/README.md
  build/localnet/Tiltfile
  docs/demos/iteration_3_end_to_end_tx.md
  docs/demos/iteration_9_localnet_infra.md
Labels: documentation, core, infra

#496 [BUG] Tilt - Update permissions to avoid using sudo
  build/Dockerfile.debian.dev
  build/Dockerfile.debian.prod
  build/docs/CHANGELOG.md
Labels: bug, infra

#431 [Consensus] State sync server to advertise blocks
  .gitignore
  Makefile
  app/client/cli/debug.go
  app/client/doc/CHANGELOG.md
  app/pocket/main.go
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/docs/CHANGELOG.md
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/hotstuff_test.go
  consensus/e2e_tests/state_sync_test.go
  consensus/e2e_tests/utils_test.go
  consensus/helpers.go
  consensus/module.go
  consensus/pacemaker/module.go
  consensus/state_sync/helpers.go
  consensus/state_sync/interfaces.go
  consensus/state_sync/module.go
  consensus/state_sync/server.go
  consensus/state_sync_handler.go
  consensus/types/errors.go
  consensus/types/proto/state_sync.proto
  persistence/block.go
  persistence/debug.go
  persistence/docs/CHANGELOG.md
  persistence/kvstore/kvstore.go
  persistence/module.go
  persistence/test/state_test.go
  persistence/types/block.go
  persistence/types/mocks/mocks.go
  runtime/configs/proto/consensus_config.proto
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  shared/CHANGELOG.md
  shared/converters/util.go
  shared/messaging/proto/debug_message.proto
  shared/modules/consensus_module.go
  shared/modules/persistence_module.go
  shared/node.go
Labels: consensus

#502 [P2P] Logger module registration in p2p and network bugfix
  go.mod
  go.sum
  logger/docs/CHANGELOG.md
  logger/module.go
  p2p/CHANGELOG.md
  p2p/module.go
  p2p/raintree/network.go
  p2p/stdnetwork/network.go
Labels: bug, p2p

#501 [Tooling] Integrate Keybase w/ CLI (Issue #484 )
  app/client/cli/account.go
  app/client/cli/actor.go
  app/client/cli/cmd.go
  app/client/cli/gov.go
  app/client/cli/utils.go
  app/client/doc/CHANGELOG.md
  app/client/keybase/debug/keystore.go
  app/client/keybase/keybase.go
  app/client/keybase/keystore.go
  go.mod
Labels: tooling, client

#512 [Documentation] Update Devlog Formatting
  docs/demos/iteration_3_end_to_end_tx.md
  docs/demos/iteration_9_localnet_infra.md
  docs/devlog/devlog1.md
  docs/devlog/devlog2.md
  docs/devlog/devlog_template.md
  docs/devlog_agenda.md
Labels: documentation

#517 [CLI] Cannot run make localnet_client_debug: Cannot initialise the keybase with the validator keys: Unable to find YAML file
  app/client/cli/debug.go
  app/client/doc/CHANGELOG.md
  app/client/keybase/debug/keystore.go
  build/docs/CHANGELOG.md
  build/localnet/Tiltfile
  build/localnet/manifests/cli-client.yaml
  build/localnet/manifests/role-bindings.yaml
  build/localnet/manifests/roles.yaml
  build/localnet/manifests/service-accounts.yaml
  go.mod
  go.sum
  runtime/docs/CHANGELOG.md
  runtime/environment.go
  shared/CHANGELOG.md
  shared/k8s/debug.go
Labels: bug, infra, client

#518 [CLI] Stake command bugfix
  app/client/cli/actor.go
  app/client/doc/CHANGELOG.md
Labels: bug, client

#520 [Core] KISS 1 - Finite State Machine [Merge me first] - (Issue: #499)
  Makefile
  app/client/doc/CHANGELOG.md
  build/docs/CHANGELOG.md
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/utils_test.go
  consensus/events.go
  consensus/leader_election/module.go
  consensus/module.go
  consensus/pacemaker/module.go
  consensus/state_sync/module.go
  go.mod
  go.sum
  logger/docs/CHANGELOG.md
  logger/module.go
  p2p/CHANGELOG.md
  p2p/event_handler.go
  p2p/module.go
  p2p/utils_test.go
  persistence/docs/CHANGELOG.md
  persistence/module.go
  rpc/doc/CHANGELOG.md
  rpc/module.go
  rpc/noop_module.go
  rpc/server.go
  runtime/bus.go
  runtime/docs/CHANGELOG.md
  runtime/errors.go
  runtime/manager.go
  runtime/modules_registry.go
  shared/CHANGELOG.md
  shared/README.md
  shared/core/types/fsm_events.go
  shared/core/types/fsm_states.go
  shared/messaging/events.go
  shared/messaging/proto/events.proto
  shared/modules/base_modules/integratable_module.go
  shared/modules/base_modules/interruptable_module.go
  shared/modules/bus_module.go
  shared/modules/doc/README.md
  shared/modules/module.go
  shared/modules/modules_registry_module.go
  shared/modules/p2p_module.go
  shared/modules/state_machine_module.go
  shared/node.go
  state_machine/docs/CHANGELOG.md
  state_machine/docs/README.md
  state_machine/docs/state-machine.diagram.md
  state_machine/fsm.go
  state_machine/module.go
  state_machine/visualizer/main.go
  telemetry/CHANGELOG.md
  telemetry/module.go
  telemetry/noop_module.go
  telemetry/prometheus_module.go
  utility/block.go
  utility/doc/CHANGELOG.md
  utility/message_handler.go
  utility/module.go
Labels: core, p2p, consensus, code health

#521 [P2P] KISS 2 - Peer discovery [Merge me after #520] - (Issues: #416, #429)
  Makefile
  app/client/cli/debug.go
  app/client/cli/utils.go
  app/client/doc/CHANGELOG.md
  go.mod
  go.sum
  p2p/CHANGELOG.md
  p2p/addrbook_delta.go
  p2p/addrbook_delta_test.go
  p2p/event_handler.go
  p2p/module.go
  p2p/providers/addrbook_provider/addrbook_provider.go
  p2p/providers/addrbook_provider/debug/provider.go
  p2p/providers/addrbook_provider/persistence/provider.go
  p2p/providers/addrbook_provider/rpc/provider.go
  p2p/providers/current_height_provider/current_height_provider.go
  p2p/providers/current_height_provider/debug/provider.go
  p2p/providers/current_height_provider/rpc/provider.go
  p2p/raintree/addrbook_utils.go
  p2p/raintree/network.go
  p2p/raintree/network_test.go
  p2p/stdnetwork/network.go
  p2p/types/network.go
  p2p/utils_test.go
  rpc/doc/CHANGELOG.md
  rpc/handlers.go
  rpc/rpc.go
  rpc/v1/openapi.yaml
  runtime/configs/config.go
  runtime/defaults/defaults.go
  runtime/docs/CHANGELOG.md
  shared/CHANGELOG.md
  shared/core/types/README.md
  shared/crypto/ed25519.go
  shared/node.go
Labels: core, p2p, client

#515 Refactor/fix state sync logs
  app/pocket/doc/CHANGELOG.md
  app/pocket/main.go
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/state_sync/helpers.go
  consensus/state_sync/module.go
  consensus/state_sync/server.go
  consensus/types/messages.go
Labels: code health

#522 [Infra] KISS 3 - Cluster Manager [Merge me after #521] - (Issues: #490)
  app/client/cli/actor.go
  app/client/cli/cmd.go
  app/client/doc/CHANGELOG.md
  app/client/doc/commands/client.md
  app/client/doc/commands/client_Account.md
  app/client/doc/commands/client_Account_Send.md
  app/client/doc/commands/client_Application.md
  app/client/doc/commands/client_Application_EditStake.md
  app/client/doc/commands/client_Application_Stake.md
  app/client/doc/commands/client_Application_Unpause.md
  app/client/doc/commands/client_Application_Unstake.md
  app/client/doc/commands/client_Consensus.md
  app/client/doc/commands/client_Consensus_Height.md
  app/client/doc/commands/client_Consensus_Round.md
  app/client/doc/commands/client_Consensus_State.md
  app/client/doc/commands/client_Consensus_Step.md
  app/client/doc/commands/client_Fisherman.md
  app/client/doc/commands/client_Fisherman_EditStake.md
  app/client/doc/commands/client_Fisherman_Stake.md
  app/client/doc/commands/client_Fisherman_Unpause.md
  app/client/doc/commands/client_Fisherman_Unstake.md
  app/client/doc/commands/client_Governance.md
  app/client/doc/commands/client_Governance_ChangeParameter.md
  app/client/doc/commands/client_Node.md
  app/client/doc/commands/client_Node_EditStake.md
  app/client/doc/commands/client_Node_Stake.md
  app/client/doc/commands/client_Node_Unpause.md
  app/client/doc/commands/client_Node_Unstake.md
  app/client/doc/commands/client_System.md
  app/client/doc/commands/client_System_Health.md
  app/client/doc/commands/client_System_Version.md
  app/client/doc/commands/client_Validator.md
  app/client/doc/commands/client_Validator_EditStake.md
  app/client/doc/commands/client_Validator_Stake.md
  app/client/doc/commands/client_Validator_Unpause.md
  app/client/doc/commands/client_Validator_Unstake.md
  app/client/doc/commands/client_debug.md
  app/client/keybase/debug/keystore.go
  build/config/genesis.json
  build/deployments/docker-compose.yaml
  build/docs/CHANGELOG.md
  build/localnet/Tiltfile
  build/localnet/cluster-manager/main.go
  build/localnet/cluster-manager/utils.go
  build/localnet/manifests/cli-client.yaml
  build/localnet/manifests/cluster-manager.yaml
  build/localnet/manifests/configs.yaml
  build/localnet/manifests/role-bindings.yaml
  build/localnet/manifests/roles.yaml
  build/localnet/manifests/service-accounts.yaml
  build/localnet/templates/v1-validator-template.yaml.tpl
  go.mod
  go.sum
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
Labels: infra, client

#523 [P2P] KISS 4 - Basic nodes bootstrapping [Merge me after #522] - (Issue: #498)
  app/pocket/doc/CHANGELOG.md
  app/pocket/main.go
  p2p/CHANGELOG.md
  p2p/bootstrap.go
  p2p/event_handler.go
  p2p/module.go
  p2p/module_test.go
  p2p/providers/current_height_provider/rpc/provider.go
  p2p/utils_test.go
  runtime/configs/proto/p2p_config.proto
  runtime/defaults/defaults.go
  runtime/docs/CHANGELOG.md
  runtime/manager.go
  shared/CHANGELOG.md
  shared/crypto/rand.go
  shared/node.go
Labels: p2p

#529 patch: localnet dev QOL improvements
  .gitignore
  Makefile
  build/deployments/.env.example
  build/deployments/docker-compose.yaml
  build/docs/CHANGELOG.md
  docs/development/README.md
Labels: code health, tooling

#531 Quick fix for consensus interface
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/module.go
  shared/CHANGELOG.md
  shared/modules/consensus_module.go
Labels: consensus, code health

#532 chore: add docker_w1pe_volumes make target
  Makefile
Labels: tooling

#542 [Tooling] Returning failed tests full output
  .github/workflows/main.yml
Labels: infra, tooling

#541 [Logger] Replace logger values with pointers
  consensus/doc/CHANGELOG.md
  consensus/module.go
  consensus/pacemaker/module.go
  consensus/state_sync/module.go
  logger/docs/CHANGELOG.md
  logger/docs/README.md
  logger/module.go
  p2p/CHANGELOG.md
  p2p/module.go
  p2p/raintree/network.go
  p2p/stdnetwork/network.go
  persistence/context.go
  persistence/docs/CHANGELOG.md
  persistence/genesis.go
  persistence/module.go
  rpc/doc/CHANGELOG.md
  rpc/module.go
  shared/CHANGELOG.md
  shared/modules/logger_module.go
  state_machine/docs/CHANGELOG.md
  state_machine/module.go
  telemetry/CHANGELOG.md
  telemetry/prometheus_module.go
  utility/context.go
  utility/doc/CHANGELOG.md
  utility/module.go
  utility/module_test.go
Labels: code health

#543 [Consensus] Fixed `TestPacemakerCatchupSameStepDifferentRounds` test
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/pacemaker_test.go
  consensus/state_sync/helpers.go
  consensus/state_sync/module.go
  consensus/state_sync/server.go
  shared/CHANGELOG.md
  shared/modules/consensus_module.go
Labels: bug, consensus

#548 [CONSENSUS] Find issue with sending metadata request
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/state_sync_handler.go
Labels: bug, consensus
