Repository pokt-network/pocket, pull requests merged in 2023-06, with the labels that each got.

#786 [E2E][RPC] Adds a Query Block test
  e2e/docs/CHANGELOG.md
  e2e/tests/query.feature
  e2e/tests/valdator.feature
Labels: code health, testing, waiting-for-review, e2e-devnet-test, cl validate, small

#769 [P2P] refactor: nonce deduper
  p2p/CHANGELOG.md
  p2p/config/config.go
  p2p/module.go
  p2p/module_test.go
  p2p/raintree/nonce_deduper.go
  p2p/raintree/peers_manager_test.go
  p2p/raintree/router.go
  p2p/raintree/router_test.go
  p2p/raintree/types/proto/raintree.proto
  p2p/utils/nonce_deduper.go
  p2p/utils/nonce_deduper_test.go
  shared/CHANGELOG.md
  shared/messaging/proto/pocket_envelope.proto
Labels: p2p, waiting-for-review, medium

#790 [Persistence] Integrate lazy loading SMT changes into V1
  go.mod
  go.sum
  persistence/debug.go
  persistence/docs/CHANGELOG.md
  persistence/state.go
Labels: persistence, waiting-for-review, e2e-devnet-test, small

#766 [Utility] E2E Feature Path List
  utility/doc/CHANGELOG.md
  utility/doc/E2E_FEATURE_LIST.md
Labels: utility, waiting-for-review, docs, medium

#781 [Infra] Add app/servicer keys to LocalNet genesis
  build/docs/CHANGELOG.md
  build/localnet/README.md
  build/localnet/manifests/configs.yaml
Labels: utility, waiting-for-review, small

#789 [Utility] Add server-side validation on trustless relays
  rpc/doc/CHANGELOG.md
  rpc/handlers.go
  runtime/configs/config.go
  runtime/configs/proto/utility_config.proto
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  shared/CHANGELOG.md
  shared/core/types/proto/relay.proto
  shared/core/types/proto/session.proto
  shared/modules/utility_module.go
  utility/doc/CHANGELOG.md
  utility/module.go
  utility/service/module.go
  utility/service/service.go
  utility/service/service_test.go
  utility/session.go
Labels: utility, waiting-for-review, large

#798 [ClusterManager] change client binary name in cluster manager
  .github/workflows/main.yml
  build/localnet/cluster-manager/main.go
Labels: infra, waiting-for-review, e2e-devnet-test, small

#802 fix: add test flag to CI go test cmd
  .github/workflows/main.yml
Labels: tooling, testing, waiting-for-review, small

#771 [Utility] Refactor and rename some existing functions related to handling transactions
  persistence/block.go
  persistence/docs/CHANGELOG.md
  persistence/indexer/indexer.go
  persistence/kvstore/kvstore.go
  rpc/doc/CHANGELOG.md
  rpc/handlers.go
  rpc/utils.go
  shared/core/types/error.go
  shared/core/types/signature.go
  shared/core/types/transaction.go
  shared/modules/doc/CHANGELOG.md
  shared/modules/utility_module.go
  utility/doc/CHANGELOG.md
  utility/transaction.go
  utility/transaction_test.go
  utility/types/idx_tx.go
  utility/types/message.go
  utility/unit_of_work/module.go
  utility/unit_of_work/transaction.go
  utility/unit_of_work/transaction_test.go
  utility/unit_of_work/tx_message_handler.go
  utility/unit_of_work/tx_message_signers.go
  utility/unit_of_work/uow_leader.go
Labels: utility, code health, waiting-for-review, e2e-devnet-test, large

#805 Add README for Devlog8 for iteration17
  docs/devlog/devlog8.md
  docs/roadmap/README.md
Labels: documentation, waiting-for-review, docs, medium

#807 chore: add `--build-tags` flag to `go_lint` make target
  Makefile
Labels: bug, code health, waiting-for-review, small

#777 Consensus/readme
  consensus/README.md
  consensus/doc/CHANGELOG.md
  consensus/module_consensus_state_sync.go
Labels: waiting-for-review, medium

#806 [Client] [Tooling] refactor: CLI
  Makefile
  app/client/cli/account.go
  app/client/cli/actor.go
  app/client/cli/cmd.go
  app/client/cli/consensus.go
  app/client/cli/debug.go
  app/client/cli/flags/flags.go
  app/client/cli/gov.go
  app/client/cli/helpers/common.go
  app/client/cli/helpers/context.go
  app/client/cli/helpers/setup.go
  app/client/cli/keys.go
  app/client/cli/query.go
  app/client/cli/system.go
  app/client/cli/utils.go
  app/client/doc/CHANGELOG.md
  build/deployments/docker-compose.yaml
  build/docs/CHANGELOG.md
  build/localnet/cluster-manager/main.go
  build/localnet/manifests/cli-client.yaml
  build/localnet/manifests/cluster-manager.yaml
  e2e/docs/CHANGELOG.md
  e2e/tests/steps_init_test.go
  e2e/tests/validator.go
  p2p/CHANGELOG.md
  p2p/providers/current_height_provider/rpc/provider.go
  p2p/providers/peerstore_provider/persistence/provider.go
  p2p/providers/peerstore_provider/rpc/provider.go
  runtime/defaults/defaults.go
  runtime/docs/CHANGELOG.md
Labels: tooling, client, e2e-devnet-test, large

#820 [Tooling] chore: break tilt e2e test cache
  build/docs/CHANGELOG.md
  build/localnet/Tiltfile
Labels: code health, tooling, waiting-for-review, e2e-devnet-test, small

#846 Devlog 9
  docs/devlog/devlog9.md
Labels: documentation, waiting-for-review, docs, medium

#778 [Utility] Add trustless relay to CLI
  app/client/cli/actor.go
  app/client/cli/servicer.go
  app/client/doc/CHANGELOG.md
  rpc/doc/CHANGELOG.md
  rpc/handlers.go
  rpc/v1/openapi.yaml
  shared/CHANGELOG.md
  shared/core/types/proto/relay.proto
  shared/core/types/proto/session.proto
  shared/core/types/relay.go
  shared/core/types/relay_test.go
Labels: utility, waiting-for-review, large

#848 [General] Ignore false positive secret uncovered by `ggshield` on main
  .gitguardian.yaml
  .gitignore
  Makefile
Labels: core, infra, waiting-for-review, small

#756 [Persistence] TreeStore Refactor
  persistence/context.go
  persistence/debug.go
  persistence/docs/CHANGELOG.md
  persistence/gov.go
  persistence/module.go
  persistence/sql/README.md
  persistence/sql/sql.go
  persistence/state.go
  persistence/test/account_test.go
  persistence/test/actor_test.go
  persistence/test/application_test.go
  persistence/test/fisherman_test.go
  persistence/test/generic_test.go
  persistence/test/setup_test.go
  persistence/test/validator_test.go
  persistence/trees/trees.go
  persistence/trees/trees_test.go
  runtime/docs/CHANGELOG.md
  runtime/test_artifacts/generator.go
  shared/modules/doc/CHANGELOG.md
  shared/modules/persistence_module.go
Labels: persistence, code health, waiting-for-review, e2e-devnet-test, cl validate, large

#828 [Docs] Add code review keywords for nits, techdebt, and show stoppers
  docs/development/CODE_REVIEW_GUIDELINES.md
Labels: waiting-for-review, docs, small

#808 [Persistence] Refactors TreeStore to Use Module Pattern
  persistence/context.go
  persistence/docs/CHANGELOG.md
  persistence/module.go
  persistence/trees/module.go
  persistence/trees/trees.go
  shared/modules/persistence_module.go
  shared/modules/treestore_module.go
Labels: persistence, waiting-for-review, e2e-devnet-test, medium

#851 [Persistence] Adds TreeStore Module
  persistence/context.go
  persistence/docs/CHANGELOG.md
  persistence/module.go
  persistence/trees/module.go
  persistence/trees/trees.go
  shared/modules/persistence_module.go
  shared/modules/treestore_module.go
Labels: persistence, code health, waiting-for-review, e2e-devnet-test, medium

#838 [Persistence] Update KVStore to use Badger wrapper functions
  go.mod
  persistence/kvstore/kvstore.go
  persistence/kvstore/kvstore_test.go
Labels: persistence, waiting-for-review, e2e-devnet-test, large

#843 [Persistence] Change root hash calculation to use an SMT
  persistence/docs/PROTOCOL_STATE_HASH.md
  persistence/module.go
  persistence/test/state_test.go
  persistence/trees/module.go
  persistence/trees/trees.go
  shared/modules/persistence_module.go
  shared/modules/treestore_module.go
  utility/session_test.go
Labels: persistence, waiting-for-review, e2e-devnet-test, medium

#852 [Persistence] Adds TreeStore logger
  persistence/docs/CHANGELOG.md
  persistence/module.go
  persistence/trees/module.go
  persistence/trees/trees.go
Labels: waiting-for-review, e2e-devnet-test, small

#842 [IBC] Create initial IBC module
  Makefile
  build/config/config.validator1.json
  build/config/config.validator2.json
  build/config/config.validator3.json
  build/config/config.validator4.json
  consensus/e2e_tests/utils_test.go
  ibc/docs/README.md
  ibc/docs/high-level-ibc.png
  ibc/docs/ics24.md
  ibc/host.go
  ibc/host/identifiers.go
  ibc/host/keys.go
  ibc/host/keys_ics02.go
  ibc/host/keys_ics03.go
  ibc/host/keys_ics04.go
  ibc/host/keys_ics05.go
  ibc/host/path_test.go
  ibc/host/prefix.go
  ibc/module.go
  internal/testutil/ibc/mock.go
  runtime/bus.go
  runtime/configs/config.go
  runtime/configs/proto/ibc_config.proto
  runtime/defaults/defaults.go
  runtime/manager_test.go
  shared/core/types/commitments.go
  shared/core/types/error.go
  shared/modules/bus_module.go
  shared/modules/ibc_module.go
  shared/node.go
Labels: waiting-for-review, e2e-devnet-test, large, ibc

#862 Update vault_test.go
  app/client/keybase/hashicorp/vault_test.go
Labels: bug, waiting-for-review, small

#844 [P2P] refactor: unicast router
  p2p/config/config.go
  p2p/module.go
  p2p/raintree/router.go
  p2p/raintree/testutil.go
  p2p/types/router.go
  p2p/unicast/logging.go
  p2p/unicast/router.go
  p2p/unicast/testutil.go
Labels: p2p, code health, push-image, waiting-for-review, e2e-devnet-test, large

#803 [Utility] trustless relays servicer token validation
  Makefile
  persistence/docs/CHANGELOG.md
  persistence/local/module.go
  persistence/module.go
  persistence/servicer.go
  rpc/doc/CHANGELOG.md
  rpc/v1/openapi.yaml
  runtime/configs/config.go
  runtime/configs/proto/persistence_config.proto
  runtime/configs/proto/servicer_config.proto
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  shared/CHANGELOG.md
  shared/core/types/proto/relay.proto
  shared/core/types/proto/session.proto
  shared/modules/persistence_module.go
  shared/modules/utility_module.go
  utility/doc/CHANGELOG.md
  utility/servicer/module.go
  utility/servicer/module_test.go
Labels: utility, waiting-for-review, large

#845 [IBC] Implement ICS-23 CommitmentProof verification for the SMT
  go.mod
  go.sum
  ibc/docs/README.md
  ibc/docs/ics23.md
  ibc/store/proofs_ics23.go
  ibc/store/proofs_ics23_test.go
  shared/core/types/error.go
Labels: waiting-for-review, e2e-devnet-test, large, ibc
