Repository pokt-network/pocket, pull requests merged in 2023-04, with the labels that each got.

#528 [Consensus] Configuration entry point state sync
  Makefile
  consensus/doc/CHANGELOG.md
  consensus/doc/PROTOCOL_STATE_SYNC.md
  consensus/e2e_tests/hotstuff_test.go
  consensus/e2e_tests/pacemaker_test.go
  consensus/e2e_tests/state_sync_test.go
  consensus/e2e_tests/utils_test.go
  consensus/fsm_handler.go
  consensus/helpers.go
  consensus/module.go
  consensus/module_consensus_debugging.go
  consensus/module_consensus_state_sync.go
  consensus/pacemaker/module.go
  consensus/state_sync/helpers.go
  consensus/state_sync/interfaces.go
  consensus/state_sync/module.go
  consensus/state_sync/server.go
  consensus/state_sync_handler.go
  consensus/types/messages.go
  consensus/types/proto/state_sync.proto
  go.mod
  go.sum
  shared/CHANGELOG.md
  shared/core/types/fsm_events.go
  shared/core/types/fsm_states.go
  shared/messaging/events.go
  shared/messaging/messages_test.go
  shared/modules/consensus_module.go
  shared/node.go
  state_machine/docs/CHANGELOG.md
  state_machine/docs/README.md
  state_machine/docs/state-machine.diagram.md
  state_machine/fsm.go
Labels: consensus

#646 [Documentation] Swap validator and non-validator triggers when finished synching
  state_machine/docs/CHANGELOG.md
  state_machine/docs/README.md
Labels: documentation

#601 [DevNet] tweaks for remote environments
  .github/workflows/main.yml
  build/Dockerfile.debian.dev
  build/docs/CHANGELOG.md
  build/localnet/README.md
  docs/development/README.md
  docs/releases/README.md
Labels: infra, push-image

#648 Added default reviewpad.yml file
  reviewpad.yml
Labels: tooling

#649 Added ChatGPT-CodeReview workflow
  .github/workflows/cr.yml
Labels: documentation, small

#533 [PERSISTENCE] SavePoints and Rollbacks design document (Issue #493)
  persistence/docs/CHANGELOG.md
  persistence/docs/SAVEPOINTS_ROLLBACKS.md
Labels: documentation, core, utility, persistence, medium, waiting-for-review, docs

#654 [Persistence][Utility] Pools Address hack removal + state accessor fix for params and flags
  build/config/genesis.json
  build/docs/CHANGELOG.md
  build/localnet/manifests/configs.yaml
  persistence/account.go
  persistence/docs/CHANGELOG.md
  persistence/genesis.go
  persistence/state.go
  persistence/test/account_test.go
  persistence/test/module_test.go
  persistence/test/state_test.go
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  runtime/test_artifacts/generator.go
  shared/CHANGELOG.md
  shared/core/types/pools.go
  shared/core/types/pools_test.go
  shared/modules/persistence_module.go
  utility/doc/CHANGELOG.md
  utility/types/error.go
  utility/unit_of_work/account.go
  utility/unit_of_work/account_test.go
  utility/unit_of_work/actor_test.go
  utility/unit_of_work/block.go
  utility/unit_of_work/transaction.go
  utility/unit_of_work/tx_message_handler.go
  utility/unit_of_work/validator.go
Labels: bug, utility, persistence, code health, large, waiting-for-review, gpt review

#652 [Persistence][Utility] Separate all CreateAndApply functions into more functional components - Issue #508
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/utils_test.go
  consensus/hotstuff_leader.go
  consensus/hotstuff_replica.go
  shared/CHANGELOG.md
  shared/docs/PROTOCOL_STATE_HASH.md
  shared/modules/utility_module.go
  utility/doc/CHANGELOG.md
  utility/types/error.go
  utility/unit_of_work/block.go
  utility/unit_of_work/block_test.go
  utility/unit_of_work/module.go
  utility/unit_of_work/uow_leader.go
Labels: core, consensus, utility, persistence, code health, large, waiting-for-review, gpt review

#622 [Utility][RPC][CLI] Querying governance parameters (Issue #619)
  Makefile
  app/client/cli/query.go
  app/client/doc/CHANGELOG.md
  persistence/docs/CHANGELOG.md
  persistence/gov.go
  persistence/test/gov_test.go
  persistence/types/gov.go
  rpc/doc/CHANGELOG.md
  rpc/handlers.go
  rpc/v1/openapi.yaml
  runtime/docs/CHANGELOG.md
  runtime/genesis/proto/genesis.proto
  shared/CHANGELOG.md
  shared/modules/persistence_module.go
  shared/utils/gov_utils.go
  utility/doc/CHANGELOG.md
  utility/unit_of_work/actor.go
  utility/unit_of_work/actor_test.go
  utility/unit_of_work/application.go
  utility/unit_of_work/block.go
  utility/unit_of_work/block_test.go
  utility/unit_of_work/gov.go
  utility/unit_of_work/gov_test.go
  utility/unit_of_work/transaction_test.go
  utility/unit_of_work/validator.go
Labels: utility, client, large, waiting-for-review

#663 [E2E] Chore: Doc updates
  e2e/docs/CHANGELOG.md
  e2e/docs/E2E_FRAMEWORK.md
  e2e/tests/steps_init_test.go
Labels: code health, medium, waiting-for-review, docs

#666 Persistence/add transactions to block
  consensus/doc/CHANGELOG.md
  consensus/state_sync_handler.go
  persistence/block.go
  persistence/docs/CHANGELOG.md
Labels: persistence, small, waiting-for-review

#643 [Code Health] chore: define factory interfaces
  p2p/CHANGELOG.md
  p2p/providers/peerstore_provider/peerstore_provider.go
  shared/CHANGELOG.md
  shared/modules/consensus_module.go
  shared/modules/factory.go
  shared/modules/logger_module.go
  shared/modules/module.go
  shared/modules/p2p_module.go
  shared/modules/persistence_module.go
  shared/modules/rpc_module.go
  shared/modules/state_machine_module.go
  shared/modules/telemetry_module.go
  shared/modules/utility_module.go
Labels: code health, small, waiting-for-review

#659 [Consensus] Testing helpers, refactor state sync
  consensus/debugging.go
  consensus/doc/CHANGELOG.md
  consensus/e2e_tests/hotstuff_test.go
  consensus/e2e_tests/pacemaker_test.go
  consensus/e2e_tests/state_sync_test.go
  consensus/e2e_tests/utils_test.go
  consensus/fsm_handler.go
  consensus/helpers.go
  consensus/hotstuff_handler.go
  consensus/hotstuff_leader.go
  consensus/module.go
  consensus/module_consensus_debugging.go
  consensus/module_consensus_pacemaker.go
  consensus/module_consensus_state_sync.go
  consensus/pacemaker/module.go
  consensus/state_sync/helpers.go
  consensus/state_sync/interfaces.go
  consensus/state_sync/module.go
  consensus/state_sync/server.go
  consensus/state_sync_handler.go
  shared/modules/consensus_module.go
  shared/modules/doc/CHANGELOG.md
Labels: consensus, testing, large, waiting-for-review

#673 [Dependencies] Update deps
  go.mod
  go.sum
  persistence/debug.go
  persistence/docs/CHANGELOG.md
  persistence/kvstore/kvstore.go
  persistence/state.go
Labels: core, persistence, code health, small, waiting-for-review

#676 [Shared] `TxResult` consolidation (Merge After #673)
  Makefile
  build/config/config1.json
  build/config/config2.json
  build/config/config3.json
  build/config/config4.json
  build/docs/CHANGELOG.md
  consensus/doc/CHANGELOG.md
  consensus/module.go
  persistence/context.go
  persistence/docs/CHANGELOG.md
  persistence/indexer/indexer.go
  persistence/indexer/indexer_test.go
  persistence/indexer/proto/transaction_indexer.proto
  persistence/test/benchmark_state_test.go
  persistence/test/state_test.go
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
  shared/CHANGELOG.md
  shared/core/types/proto/tx_result.proto
  shared/core/types/tx_result.go
  shared/modules/persistence_module.go
  shared/modules/tx_result.go
  utility/doc/CHANGELOG.md
  utility/types/tx_result.go
  utility/unit_of_work/transaction.go
Labels: code health, medium, waiting-for-review

#658 [Infra] validator helm chart for LocalNet
  .github/workflows/generate-helm-docs.yml
  .github/workflows/main.yml
  .gitignore
  Makefile
  build/docs/CHANGELOG.md
  build/localnet/README.md
  build/localnet/Tiltfile
  build/localnet/dependencies/requirements.yaml
  build/localnet/dependencies/values.yaml
  build/localnet/manifests/cli-client.yaml
  build/localnet/manifests/cluster-manager.yaml
  build/localnet/manifests/configs.yaml
  build/localnet/manifests/network.yaml
  build/localnet/templates/v1-validator-template.sh
  build/localnet/templates/v1-validator-template.yaml.tpl
  charts/CHANGELOG.md
  charts/pocket-validator/.helmignore
  charts/pocket-validator/Chart.lock
  charts/pocket-validator/Chart.yaml
  charts/pocket-validator/README.md
  charts/pocket-validator/README.md.gotmpl
  charts/pocket-validator/templates/_helpers.tpl
  charts/pocket-validator/templates/configmap-config.yaml
  charts/pocket-validator/templates/configmap-genesis.yaml
  charts/pocket-validator/templates/ingress.yaml
  charts/pocket-validator/templates/pvc.yaml
  charts/pocket-validator/templates/service.yaml
  charts/pocket-validator/templates/serviceaccount.yaml
  charts/pocket-validator/templates/statefulset.yaml
  charts/pocket-validator/values.yaml
  e2e/docs/CHANGELOG.md
  e2e/tests/steps_init_test.go
  e2e/tests/validator.go
Labels: infra, large, waiting-for-review

#672 Update devlog5.md
  docs/devlog/devlog5.md
Labels: documentation, small, docs

#681 Update e2e/docs/CHANGELOG.md
  e2e/docs/CHANGELOG.md
Labels: small, waiting-for-review, docs

#677 [Peristence] Fix `TxIndexer` to index sender and recipient transactions with height and index suffixes
  persistence/docs/CHANGELOG.md
  persistence/indexer/indexer.go
Labels: bug, persistence, small, waiting-for-review

#598 [P2P, Testing] Ensure node refuses unencrypted connections
  p2p/CHANGELOG.md
  p2p/transport_encryption_test.go
Labels: p2p, testing, medium

#687 [P2P (DUP)] fix: raintree add/remove index
  Makefile
  p2p/CHANGELOG.md
  p2p/raintree/peers_manager_test.go
  p2p/types/peers_view.go
  p2p/types/peers_view_test.go
Labels: bug, p2p, medium, waiting-for-review

#685 [Testing] Add `/internal/testutil` pkg & refactor mockdns test code
  .githooks/pre-commit
  .githooks/pre-receive
  docs/development/README.md
  internal/testutil/mockdns.go
  p2p/CHANGELOG.md
  p2p/module_raintree_test.go
  p2p/raintree/peers_manager_test.go
  p2p/utils_test.go
Labels: p2p, testing, medium, waiting-for-review

#691 Update changelog-verify.yml
  .github/workflows/changelog-verify.yml
Labels: tooling, small

#682 [Infra] Adapt pocket helm chart for DevNets
  .github/workflows/main.yml
  build/docs/CHANGELOG.md
  build/localnet/README.md
  build/localnet/Tiltfile
  build/localnet/cluster-manager/main.go
  build/localnet/cluster-manager/utils.go
  build/localnet/manifests/cli-client.yaml
  build/localnet/manifests/cluster-manager.yaml
  build/localnet/manifests/configs.yaml
  charts/CHANGELOG.md
  charts/pocket/.helmignore
  charts/pocket/Chart.lock
  charts/pocket/Chart.yaml
  charts/pocket/README.md
  charts/pocket/README.md.gotmpl
  charts/pocket/templates/_helpers.tpl
  charts/pocket/templates/configmap-config.yaml
  charts/pocket/templates/configmap-genesis.yaml
  charts/pocket/templates/ingress.yaml
  charts/pocket/templates/pvc.yaml
  charts/pocket/templates/service.yaml
  charts/pocket/templates/serviceaccount.yaml
  charts/pocket/templates/statefulset.yaml
  charts/pocket/values.yaml
  e2e/docs/CHANGELOG.md
  e2e/tests/steps_init_test.go
  runtime/defaults/defaults.go
  runtime/docs/CHANGELOG.md
Labels: infra, medium, waiting-for-review, e2e-devnet-test

#696 [Testing (DUP)] Add /internal/testutil pkg & refactor mockdns test code
  .githooks/pre-commit
  .githooks/pre-receive
  docs/development/README.md
  internal/testutil/mockdns.go
  p2p/CHANGELOG.md
  p2p/module_raintree_test.go
  p2p/raintree/peers_manager_test.go
  p2p/utils_test.go
Labels: medium, waiting-for-review

#698 [CLI] Remove logging for end user focused messages
  app/client/cli/cmd.go
  app/client/cli/keys.go
  app/client/cli/query.go
  build/debug_keybase/debug_keybase.bak
  build/debug_keybase/main.go
  runtime/configs/config.go
Labels: client, small, waiting-for-review

#700 [Makefile] fixes the localnet_db_cli target
  Makefile
Labels: bug, persistence, small, cl validate

#689 [E2E] adds in-cluster config for E2E tests
  build/Dockerfile.debian.dev
  build/docs/CHANGELOG.md
  e2e/docs/CHANGELOG.md
  e2e/tests/steps_init_test.go
Labels: tooling, testing, push-image, small, waiting-for-review, cl validate

#693 [Docs] Update shared module creation
  p2p/CHANGELOG.md
  p2p/raintree/network.go
  shared/CHANGELOG.md
  shared/modules/doc/README.md
  shared/modules/factory.go
Labels: documentation, p2p, small, waiting-for-review, docs

#702 [E2E] Standardize Kube pod name across DevNet and LocalNet
  Makefile
  build/localnet/Tiltfile
  build/localnet/manifests/cli-client.yaml
  e2e/docs/CHANGELOG.md
  e2e/tests/validator.go
Labels: push-image, small, waiting-for-review, e2e-devnet-test

#703 [P2P] chore: remove unnecessary `stdnetwork` package
  p2p/CHANGELOG.md
  p2p/module.go
  p2p/module_test.go
  p2p/stdnetwork/network.go
  p2p/stdnetwork/network_test.go
  p2p/utils_test.go
  runtime/configs/config.go
  runtime/configs/proto/p2p_config.proto
  runtime/docs/CHANGELOG.md
  runtime/manager_test.go
Labels: p2p, code health, large, waiting-for-review

#704 [P2P] refactor: rename "network" to "router"
  consensus/doc/CHANGELOG.md
  consensus/state_sync/interfaces.go
  p2p/CHANGELOG.md
  p2p/bootstrap.go
  p2p/event_handler.go
  p2p/module.go
  p2p/raintree/peers_manager_test.go
  p2p/raintree/peerstore_utils.go
  p2p/raintree/router.go
  p2p/raintree/router_test.go
  p2p/raintree/target.go
  p2p/types/router.go
  shared/modules/factory.go
Labels: p2p, code health, large, waiting-for-review

#690 Update roadmap readme.md timelines
  docs/roadmap/README.md
Labels: documentation, small, waiting-for-review, docs

#664 [CLI] Debug subcommand extension
  app/client/cli/debug.go
  app/client/doc/CHANGELOG.md
  app/client/doc/README.md
  app/docs/CHANGELOG.md
Labels: tooling, medium, waiting-for-review, cl validate

#699 [Infra] make cluster-manager aware of k8s namespaces
  build/Dockerfile.debian.dev
  build/debug_keybase/302d2c95e2193819d4a93f6b43f808a3.md5
  build/debug_keybase/debug_keybase.bak
  build/debug_keybase/main.go
  build/docs/CHANGELOG.md
  build/localnet/Tiltfile
  build/localnet/cluster-manager/main.go
  build/localnet/cluster-manager/utils.go
  build/localnet/manifests/cli-client.yaml
  build/localnet/manifests/private-keys.yaml
  build/localnet/manifests/roles.yaml
  docs/devlog/devlog6.md
  shared/CHANGELOG.md
  shared/k8s/debug.go
Labels: push-image, small, waiting-for-review, gpt review, cl validate

#683 [Utility] Session Interface - `GetSession` Implementation (1st iteration)
  Makefile
  build/config/genesis.json
  build/config/genesis_localhost.json
  build/docs/CHANGELOG.md
  build/localnet/manifests/configs.yaml
  logger/docs/CHANGELOG.md
  logger/docs/README.md
  logger/utils.go
  p2p/CHANGELOG.md
  p2p/utils/url_conversion.go
  persistence/actor.go
  persistence/docs/CHANGELOG.md
  persistence/test/module_test.go
  persistence/test/setup_test.go
  persistence/test/state_test.go
  persistence/types/gov_test.go
  runtime/configs/proto/persistence_config.proto
  runtime/docs/CHANGELOG.md
  runtime/genesis/proto/genesis.proto
  runtime/test_artifacts/defaults.go
  runtime/test_artifacts/generator.go
  runtime/test_artifacts/genesis.go
  runtime/test_artifacts/gov.go
  shared/CHANGELOG.md
  shared/core/types/proto/actor.proto
  shared/core/types/proto/session.proto
  shared/modules/persistence_module.go
  shared/modules/utility_module.go
  utility/doc/CHANGELOG.md
  utility/doc/PROTOCOL_SESSION.md
  utility/main_test.go
  utility/session.go
  utility/session_test.go
  utility/types/gov.go
  utility/unit_of_work/gov.go
  utility/unit_of_work/unit_of_work_test.go
Labels: utility, large, waiting-for-review, cl validate
